footer {

    // 푸터 첫번째 섹션
    .footer_wrap {
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        display: flex;

        .info_wrap {
            width: 25.1%;
            border-right: 1px solid #E0E0E0;
            border-left: 1px solid #E0E0E0;
            padding: 30px 60px;

            .logo {
                margin-bottom: 15px;
            }

            .info {

                .title {
                    margin-bottom: 10px;
                }

                .info_desc {
                    margin-bottom: 5px;
                }
            }

            #corp_info {
                margin-bottom: 20px;
            }
        }

        .footer_nav {
            padding: 40px 30px;
            width: 16.6%;
            border-right: 1px solid #E0E0E0;

            .title {
                margin-bottom: 30px;

                p {
                }
            }

            nav {
                ul {
                    a {
                        li {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .footer_contact {
            width: 25.1%;
            padding: 40px 30px;
            border-right: 1px solid #E0E0E0;

            .title {
                margin-bottom: 20px;
            }

            .phone {
                margin-bottom: 20px;
            }

            .subtitle {
            }

            .subtitle:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // 푸터 두번째 섹션
    .footer_policy {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 15px;
        nav {
            &.policy {
                padding: 20px 0;

                ul {
                    display: flex;

                    a {
                        li {
                        }

                        &:first-child {
                            li {
                                padding-left: 60px;
                            }
                        }
                    }

                    a:not(:last-child) {
                        margin-right: 120px;
                    }

                }
            }

            &.sns_wrap {
                display: flex;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    // 푸터 세번째 섹션
    .footer_company_info {
        // 회사 정보 wrap
        .info_wrap {
            display: flex;

            .info:first-child {
                padding-left: 60px;
            }

            // 세로 선
            .info:nth-child(2),
            .info:nth-child(3) {
                p::after {
                    content: "|";
                    float: right;
                    display: block;
                    padding-left: 10px;
                }
            }

            // 텍스트 좌우 패딩값
            .info:nth-child(2),
            .info:nth-child(3),
            .info:nth-child(4) {
                padding-left: 10px;
            }
        }
        // 회사 정보 wrap 두번째 줄
        .info_wrap:last-child {

            // 세로 선
            .info:nth-child(1),
            .info:nth-child(2),
            .info:nth-child(3) {
                p::after {
                    content: "|";
                    float: right;
                    display: block;
                    padding-left: 10px;
                }
            }
        }
        .copyright{
            padding: 15px 60px;
            p{
            }
        }
    }

    // footer 내부 padding 값
    .footer_wrap,
    .footer_policy,
    .footer_company_info {
        padding: 0 8.15%;
    }
}