@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}
header .upper_menu {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
header .upper_menu nav ul {
  list-style: none;
}
header .upper_menu nav ul .quick_menu {
  border: 1px solid #e0e0e0;
  float: left;
  padding: 15px 30px;
}
header .upper_menu .login_btn_wrap nav ul {
  list-style: none;
}
header .upper_menu .login_btn_wrap nav ul .login_btn {
  float: left;
  padding: 0 10px;
}
header .upper_menu .login_btn_wrap nav ul .login_btn:not(:last-child) {
  border-right: 1px solid #000;
}
header #menu {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header #menu .logo_menu_wrap {
  display: flex;
}
header #menu .logo_menu_wrap .logo {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
header #menu .logo_menu_wrap .menu {
  display: flex;
}
header #menu .logo_menu_wrap .menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #menu .logo_menu_wrap .menu nav ul li {
  float: left;
  padding: 20px;
}
header #menu .logo_menu_wrap .menu nav ul li .sub_menu_wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0px;
  background-color: #fff;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in;
  cursor: default;
}
header #menu .logo_menu_wrap .menu nav ul li .sub_menu_wrapper nav {
  width: 100%;
}
header #menu .logo_menu_wrap .menu nav ul li .sub_menu_wrapper nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: calc(10% + 235px);
}
header #menu .logo_menu_wrap .menu nav ul li .sub_menu_wrapper .menu_img {
  visibility: hidden;
  opacity: 0;
  margin-right: 10%;
}
header #menu .logo_menu_wrap .menu nav ul li .sub_menu_wrapper .menu_img img {
  padding-top: 50px;
  width: 100%;
}
header #menu .logo_menu_wrap .menu nav ul #digital_print:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #digital_print:hover .menu_img,
header #menu .logo_menu_wrap .menu nav ul #high_print:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #high_print:hover .menu_img,
header #menu .logo_menu_wrap .menu nav ul #commercial_print:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #commercial_print:hover .menu_img,
header #menu .logo_menu_wrap .menu nav ul #mypage:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #mypage:hover .menu_img,
header #menu .logo_menu_wrap .menu nav ul #customer_service:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #customer_service:hover .menu_img,
header #menu .logo_menu_wrap .menu nav ul #event:hover .sub_menu_wrapper,
header #menu .logo_menu_wrap .menu nav ul #event:hover .menu_img {
  opacity: 1;
  visibility: visible;
}
header .all_menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.9);
  padding: 0px 10%;
  z-index: 9;
}
header .all_menu .close_btn {
  display: flex;
  justify-content: end;
  padding: 15px 0;
}
header .all_menu .close_btn img {
  width: 40px;
  height: 40px;
}
header .all_menu nav .menu_wrap {
  display: flex;
  justify-content: space-between;
}
header .all_menu nav .menu_wrap .menu {
  width: 230px;
}
header .all_menu nav .menu_wrap .menu .title {
  border-bottom: 1px solid #868686;
  margin-bottom: 10px;
}
header .all_menu nav .menu_wrap .menu .title p {
  color: #007dfb;
  padding-bottom: 15px;
}
header .all_menu nav .menu_wrap .menu .sub_menu ul li {
  color: #888888;
  padding: 10px 0;
}
header .all_menu nav .menu_wrap:first-child {
  margin-bottom: 15px;
}

main {
  margin-top: 30px;
}/*# sourceMappingURL=header.css.map */