header{
    margin-bottom: 0;
}
.slide_banner{
    .swiper {
        width: 1920px;
        height: 425px;
        .swiper-button-prev, .swiper-button-next{
            color: #fff;
        }
      }
}