@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-weight: 600;
}

#main_page_nav,
#easy_order,
#best_product,
#customer_support,
#figure_out, #blank {
  padding: 0 16.3%;
  margin-bottom: 60px;
}

#slide .slide_banner {
  position: relative;
}

#main_page_nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#main_page_nav nav ul {
  display: flex;
}
#main_page_nav nav ul .main_nav_disable {
  width: 215px;
  height: 198px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#main_page_nav nav ul .main_nav_disable img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_disable .active_nav {
  display: none;
}
#main_page_nav nav ul .main_nav_disable .disable_nav {
  display: block;
}
#main_page_nav nav ul .main_nav_disable:hover {
  background-color: #004ea2;
  margin-right: -1px;
}
#main_page_nav nav ul .main_nav_disable:hover img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_disable:hover .disable_nav {
  display: none;
}
#main_page_nav nav ul .main_nav_disable:hover span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
#main_page_nav nav ul .main_nav_disable:hover .active_nav {
  display: block;
}
#main_page_nav nav ul .main_nav_disable:not(:last-child) {
  margin-right: -1px;
}
#main_page_nav nav ul .main_nav_active {
  width: 215px;
  height: 198px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #004ea2;
  margin-right: -1px;
  cursor: pointer;
}
#main_page_nav nav ul .main_nav_active img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_active span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
#main_page_nav nav ul .main_nav_active2 {
  background-color: #004ea2;
  margin-right: -1px;
}
#main_page_nav nav ul .main_nav_active2 img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_active2 span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

#easy_order .title {
  margin-bottom: 10px;
}
#easy_order .title p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#easy_order .subtitle p {
  text-align: center;
}
#easy_order .banner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#easy_order .banner img:first-child {
  margin-right: 50px;
}

#best_product .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#best_product .title hr {
  width: 479px;
  height: 1px;
}
#best_product .title p {
  padding: 0 48px;
}
#best_product .subtitle {
  text-align: center;
  margin-bottom: 20px;
}
#best_product .product_wrap {
  display: flex;
  justify-content: space-between;
}
#best_product .product_wrap .product .product_img {
  width: 377px;
  height: 294px;
  border: 1px solid #000;
}
#best_product .product_wrap .product .product_desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 377px;
  height: 98px;
}
#best_product .product_wrap .product .product_desc .desc_title {
  padding-bottom: 10px;
}
#best_product .product_wrap .product .product_desc .desc_subtitle {
  font-size: 15px;
}
#best_product #best_product_wrap_01 {
  margin-bottom: 20px;
}
#figure_out {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 60px;
}
#figure_out .figure_out_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#figure_out .figure_out_wrap .slide_title_wrap .slide_title {
  margin-bottom: 10px;
}
#figure_out .figure_out_wrap .slide_title_wrap .slide_subtitle {
  margin-bottom: 20px;
}
#figure_out .figure_out_wrap .more_btn span {
  border: 1px solid #707070;
  font-size: 12px;
  color: #707070;
  padding: 5px;
  cursor: pointer;
}

#customer_support .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#customer_support .title hr {
  width: 479px;
  height: 1px;
}
#customer_support .title p {
  padding: 0 75px;
}
#customer_support .subtitle {
  text-align: center;
  margin-bottom: 20px;
}
#customer_support .cs_wrap {
  display: flex;
  justify-content: space-between;
}
#customer_support .cs_wrap .cs_box {
  width: 300px;
  height: 465px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #707070;
}
#customer_support .cs_wrap .cs_box .cs_box_text p {
  margin-bottom: 5px;
}
#customer_support .cs_wrap .cs_box .cs_btn {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
#customer_support .cs_wrap .cs_box #cs_faq,
#customer_support .cs_wrap .cs_box #cs_ask,
#customer_support .cs_wrap .cs_box #cs_template_download,
#customer_support .cs_wrap .cs_box #cs_location,
#customer_support .cs_wrap .cs_box #cs_estimate {
  padding: 15px;
  background-color: #093c71;
  color: #fff;
}
#customer_support .cs_wrap .cs_box #cs_sign_up {
  border: 1px solid #fff;
  padding: 15px;
  color: #fff;
}
#customer_support .cs_wrap .cs_box #cs_faq {
  margin-bottom: 5px;
}
#customer_support .cs_wrap .cs_box #cs_download,
#customer_support .cs_wrap .cs_box #cs_bookcover_design,
#customer_support .cs_wrap .cs_box #cs_print_status,
#customer_support .cs_wrap .cs_box #cs_shipping_status,
#customer_support .cs_wrap .cs_box #cs_shipping_location,
#customer_support .cs_wrap .cs_box #cs_tax_bill {
  width: 120px;
  padding: 15px;
  color: #093C71;
  background-color: #fff;
}
#customer_support .cs_wrap .cs_box #cs_shipping_status {
  padding: 15px 9px;
}
#customer_support .cs_wrap #sign_up {
  background-color: #093c71;
}
#customer_support .cs_wrap #sign_up .cs_box_text {
  color: #fff;
}
#customer_support .cs_wrap #ask {
  background-color: #f6f6f6;
}
#customer_support .cs_wrap #ask .cs_box_text {
  color: #000;
}
#customer_support .cs_wrap #ask .cs_box_text > p {
  margin-bottom: 15px;
}
#customer_support .cs_wrap #download {
  background-color: #f6f6f6;
}
#customer_support .cs_wrap #download .cs_contents_wrap .cs_box_text {
  margin-bottom: 20px;
}
#customer_support .cs_wrap #download .cs_smallbtn_wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#customer_support .cs_wrap #cs {
  background-color: #f6f6f6;
}
#customer_support .cs_wrap #cs .cs_contents_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#customer_support .cs_wrap #cs .cs_contents_wrap .cs_box_text {
  margin-bottom: 20px;
}
#customer_support .cs_wrap #cs .cs_contents_wrap .cs_smallbtn_wrap {
  display: flex;
  flex-direction: column;
}
#customer_support .cs_wrap #cs .cs_contents_wrap .cs_smallbtn_wrap .cs_smallbtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#blank .img_wrap {
  display: flex;
  justify-content: space-between;
}
#blank .img_wrap .img {
  width: 200px;
  height: 200px;
  border: 1px solid #707070;
}

#floating_banner #floating_more_btn {
  display: none;
}
#floating_banner .banner_wrap {
  background-color: #fff;
  transition: all 0.3s;
  width: 140px;
  position: fixed;
  z-index: 5;
  right: 0px;
  top: 0px;
  border: 1px solid #DDDDDD;
  height: 100vh;
}
#floating_banner .banner_wrap .banner_top {
  background-color: #fe4648;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
}
#floating_banner .banner_wrap .banner_nav_wrap {
  position: relative;
  margin-top: 150px;
}
#floating_banner .banner_wrap .banner_nav_wrap nav ul a li {
  font-size: 15px;
  color: #444444;
  text-align: center;
  padding: 30px 0px;
}
#floating_banner .banner_wrap .banner_nav_wrap label[for=floating_more_btn] {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  left: -20px;
  top: 45%;
  padding: 10px 5px;
  cursor: pointer;
}
#floating_banner .banner_wrap .banner_nav_wrap hr {
  border: 1px solid #eee;
  height: 1px;
  margin: 0 auto;
  width: 100px;
}
#floating_banner .banner_wrap .banner_nav_wrap2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#floating_banner input#floating_more_btn:checked ~ .banner_wrap {
  right: -140px;
}

.top_btn {
  display: none;
  cursor: pointer;
}
.top_btn img {
  background-color: #003B70;
  padding: 10px 12.5px;
  position: fixed;
  right: 15%;
  bottom: 5%;
  z-index: 5;
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */