@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-weight: 600;
}

#main_page_nav,
#easy_order,
#best_product,
#customer_service,
#figure_out, #blank {
  padding: 0 16.3%;
  margin-bottom: 60px;
}

#slide .slide_banner {
  position: relative;
}
#slide .slide_banner .banner_btn_wrap {
  position: absolute;
  display: flex;
  top: 87%;
  z-index: 4;
  align-items: center;
  right: 20%;
}
#slide .slide_banner .banner_btn_wrap .banner_player {
  background-color: #2c2c2c;
  padding: 7px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  opacity: 0.8;
}
#slide .slide_banner .banner_btn_wrap .banner_player img:not(:last-child) {
  padding-right: 5px;
}
#slide .slide_banner .banner_btn_wrap .more_btn span {
  display: flex;
  align-items: center;
}
#slide .slide_banner .banner_btn_wrap .more_btn span img {
  opacity: 0.8;
  background-color: #2C2C2C;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
}

#main_page_nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#main_page_nav nav ul {
  display: flex;
}
#main_page_nav nav ul .main_nav_disable {
  width: 215px;
  height: 198px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#main_page_nav nav ul .main_nav_disable img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_disable span {
  color: #093C71;
  font-size: 20px;
  font-weight: 600;
}
#main_page_nav nav ul .main_nav_disable:not(:last-child) {
  margin-right: -1px;
}
#main_page_nav nav ul .main_nav_active {
  width: 215px;
  height: 198px;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #093c71;
  margin-right: -1px;
}
#main_page_nav nav ul .main_nav_active img {
  margin-bottom: 15px;
}
#main_page_nav nav ul .main_nav_active span {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

#easy_order .title {
  margin-bottom: 10px;
}
#easy_order .title p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#easy_order .subtitle p {
  font-size: 18px;
  text-align: center;
}
#easy_order .banner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#easy_order .banner img:first-child {
  margin-right: 50px;
}

#best_product .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#best_product .title hr {
  width: 479px;
  height: 1px;
}
#best_product .title p {
  font-size: 50px;
  font-weight: bold;
  padding: 0 48px;
}
#best_product .subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}
#best_product .product_wrap {
  display: flex;
  justify-content: space-between;
}
#best_product .product_wrap .product .product_img {
  width: 377px;
  height: 294px;
  border: 1px solid #000;
}
#best_product .product_wrap .product .product_desc {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 377px;
  height: 98px;
}
#best_product .product_wrap .product .product_desc .desc_title {
  font-size: 23px;
  font-weight: 600;
}
#best_product .product_wrap .product .product_desc .desc_subtitle {
  font-size: 15px;
}
#best_product #best_product_wrap_01 {
  margin-bottom: 20px;
}
#customer_service .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#customer_service .title hr {
  width: 479px;
  height: 1px;
}
#customer_service .title p {
  font-size: 50px;
  font-weight: bold;
  padding: 0 75px;
}
#customer_service .subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}
#customer_service .cs_wrap {
  display: flex;
  justify-content: space-between;
}
#customer_service .cs_wrap .cs_box {
  width: 300px;
  height: 465px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #707070;
}
#customer_service .cs_wrap .cs_box .cs_box_text p {
  font-size: 28px;
  margin-bottom: 5px;
}
#customer_service .cs_wrap .cs_box .cs_box_text p strong {
  font-weight: bold;
}
#customer_service .cs_wrap .cs_box .cs_box_text .cs_box_subtext p {
  font-size: 15px;
  color: #929292;
  font-weight: 600;
}
#customer_service .cs_wrap .cs_box .cs_btn {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
#customer_service .cs_wrap .cs_box #cs_faq,
#customer_service .cs_wrap .cs_box #cs_ask,
#customer_service .cs_wrap .cs_box #cs_template_download,
#customer_service .cs_wrap .cs_box #cs_location,
#customer_service .cs_wrap .cs_box #cs_estimate {
  padding: 15px;
  background-color: #093c71;
  color: #fff;
}
#customer_service .cs_wrap .cs_box #cs_sign_up {
  border: 1px solid #fff;
  padding: 15px;
  color: #fff;
}
#customer_service .cs_wrap .cs_box #cs_faq {
  margin-bottom: 5px;
}
#customer_service .cs_wrap .cs_box #cs_download,
#customer_service .cs_wrap .cs_box #cs_bookcover_design,
#customer_service .cs_wrap .cs_box #cs_print_status,
#customer_service .cs_wrap .cs_box #cs_shipping_status,
#customer_service .cs_wrap .cs_box #cs_shipping_location,
#customer_service .cs_wrap .cs_box #cs_tax_bill {
  width: 120px;
  padding: 15px;
  color: #093C71;
  background-color: #fff;
}
#customer_service .cs_wrap .cs_box #cs_shipping_status {
  padding: 15px 9px;
}
#customer_service .cs_wrap #sign_up {
  background-color: #093c71;
}
#customer_service .cs_wrap #sign_up .cs_box_text {
  color: #fff;
}
#customer_service .cs_wrap #ask {
  background-color: #f6f6f6;
}
#customer_service .cs_wrap #ask .cs_box_text {
  color: #000;
}
#customer_service .cs_wrap #ask .cs_box_text > p {
  margin-bottom: 15px;
}
#customer_service .cs_wrap #download {
  background-color: #f6f6f6;
}
#customer_service .cs_wrap #download .cs_contents_wrap .cs_box_text {
  margin-bottom: 20px;
}
#customer_service .cs_wrap #download .cs_smallbtn_wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#customer_service .cs_wrap #cs {
  background-color: #f6f6f6;
}
#customer_service .cs_wrap #cs .cs_contents_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#customer_service .cs_wrap #cs .cs_contents_wrap .cs_box_text {
  margin-bottom: 20px;
}
#customer_service .cs_wrap #cs .cs_contents_wrap .cs_smallbtn_wrap {
  display: flex;
  flex-direction: column;
}
#customer_service .cs_wrap #cs .cs_contents_wrap .cs_smallbtn_wrap .cs_smallbtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#figure_out .figure_out_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#figure_out .figure_out_wrap .slide_title {
  margin-bottom: 10px;
}
#figure_out .figure_out_wrap .slide_title p {
  font-size: 26px;
  color: #222222;
}
#figure_out .figure_out_wrap .more_btn span {
  border: 1px solid #707070;
  font-size: 12px;
  color: #707070;
  padding: 5px;
  cursor: pointer;
}

#blank .img_wrap {
  display: flex;
  justify-content: space-between;
}
#blank .img_wrap .img {
  width: 200px;
  height: 200px;
  border: 1px solid #707070;
}/*# sourceMappingURL=style.css.map */