@import "../../common/css/common_form.scss";

* {
    font-weight: $semi-bold;
}

// 슬라이드 제외 양 옆 padding 조절
#main_page_nav,
#easy_order,
#best_product,
#customer_support,
#figure_out, #blank {
    padding: 0 16.3%;
    margin-bottom: 60px;
}

// 슬라이드배너
#slide {
    .slide_banner {
        position: relative;

        .banner_btn_wrap {
            position: absolute;
            display: flex;
            top: 87%;
            z-index: 3;
            align-items: center;
            right: 20%;

            .banner_player {
                background-color: #2c2c2c;
                padding: 7px 15px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                margin-right: 5px;
                opacity: 0.8;

                img:not(:last-child) {
                    padding-right: 5px;
                }
            }
            .more_btn{
                input[id="banner_popup"] {
                    display: none;
                
                    +label {
                        display: inline-block;
                        font-weight: bold;
                        span{
                            display: flex;
                            img{
                                background: #2c2c2c;
                                opacity: 0.8;
                                padding: 10px;
                                border-radius: 50%;
                            }
                        }
                        +div {
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.5s;
                            position: fixed;
                            ;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 100;
                
                            >label {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, .9);
                                z-index: 1;
                            }
                
                            >div {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 1100px;
                                height: 818px;
                                z-index: 2;
                
                                .modal_banner_popup{
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                            }
                        }
                    }
                }
                input[id="popup"]:checked {
                    +label {
                        +div {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                input[id="banner_popup"]:checked {
                    +label {
                        +div {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

// 메인페이지 네비 버튼
#main_page_nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    nav {
        ul {
            display: flex;

            // 버튼 비활성화 상태
            .main_nav_disable {
                width: 215px;
                height: 198px;
                border: 1px solid #707070;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                img {
                    margin-bottom: 15px;
                }

                span {
                    color: #093C71;
                    font-size: 20px;
                    font-weight: $semi-bold;
                }
            }

            .main_nav_disable:not(:last-child) {
                margin-right: -1px;
            }

            // 버튼 활성화 상태
            .main_nav_active {
                width: 215px;
                height: 198px;
                border: 1px solid #707070;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: #093c71;
                margin-right: -1px;
                cursor: pointer;
                img {
                    margin-bottom: 15px;
                }

                span {
                    color: #fff;
                    font-size: 20px;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}

// 주문을 쉽게 섹션
#easy_order {

    // 주문을 쉽게 섹션 타이틀
    .title {
        margin-bottom: 10px;

        p {
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }
    }

    // 주문을 쉽게 섹션 서브타이틀
    .subtitle {
        p {
            font-size: 18px;
            text-align: center;
        }
    }

    // 주문을 쉽게 섹션 배너
    .banner {
        display: flex;
        justify-content: center;
        margin-top: 60px;

        img:first-child {
            margin-right: 50px;
        }
    }
}

// 베스트 상품 섹션
#best_product {

    // 베스트 상품 섹션 타이틀
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        // 가로선
        hr {
            width: 479px;
            height: 1px;
        }

        p {
            font-size: 50px;
            font-weight: bold;
            padding: 0 48px;
        }
    }

    // 베스트 상품 섹션 서브타이틀
    .subtitle {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        color: #444;
    }

    // 베스트 상품 wrap
    .product_wrap {
        display: flex;
        justify-content: space-between;

        // 베스트 상품
        .product {

            // 베스트 상품 이미지
            .product_img {
                width: 377px;
                height: 294px;
                border: 1px solid #000;
            }

            // 베스트 상품 설명
            .product_desc {
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 377px;
                height: 98px;

                // 베스트 상품 설명 타이틀
                .desc_title {
                    font-size: 23px;
                    font-weight: $semi-bold;
                }

                // 베스트 상품 설명 서브타이틀
                .desc_subtitle {
                    font-size: 15px;
                }
            }
        }
    }

    // 베스트 상품 wrap 첫번째
    #best_product_wrap_01 {
        margin-bottom: 20px;
    }

    // 베스트 상품 wrap 두번째
    #best_product_wrap_02 {}
}

// 고객지원 섹션
#customer_support {

    // 고객지원 섹션 타이틀
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        // 가로선
        hr {
            width: 479px;
            height: 1px;
        }

        p {
            font-size: 50px;
            font-weight: bold;
            padding: 0 75px;
        }
    }

    // 베스트 상품 섹션 서브타이틀
    .subtitle {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        color: #444;
    }

    //고객지원 박스 wrap
    .cs_wrap {
        display: flex;
        justify-content: space-between;

        // 컨텐츠 박스
        .cs_box {
            width: 300px;
            height: 465px;
            padding: 23px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #707070;

            // 컨텐츠 텍스트 font-size 28px
            .cs_box_text {
                p {
                    font-size: 28px;
                    margin-bottom: 5px;

                    strong {
                        font-weight: bold;
                    }
                }

                // 컨텐츠 서브 텍스트 font-size 15px;
                .cs_box_subtext {
                    p {
                        font-size: 15px;
                        color: #929292;
                        font-weight: $semi-bold;
                    }
                }
            }

            // 컨텐츠 박스 버튼
            .cs_btn {
                border: 1px solid #DDDDDD;
                border-radius: 10px;
                cursor: pointer;
                text-align: center;
            }

            // 배경 남색 버튼
            #cs_faq,
            #cs_ask,
            #cs_template_download,
            #cs_location,
            #cs_estimate {
                padding: 15px;
                background-color: #093c71;
                color: #fff;
            }

            // 가입하기 버튼
            #cs_sign_up {
                border: 1px solid #fff;
                padding: 15px;
                color: #fff;
            }

            // faq 버튼
            #cs_faq {
                margin-bottom: 5px;
            }

            // 흰색 바탕 작은 버튼
            #cs_download,
            #cs_bookcover_design,
            #cs_print_status,
            #cs_shipping_status,
            #cs_shipping_location,
            #cs_tax_bill {
                width: 120px;
                padding: 15px;
                color: #093C71;
                background-color: #fff;
            }

            // 주문/배송조회 글자 길이때문에 따로 설정해야함
            #cs_shipping_status {
                padding: 15px 9px;
            }
        }

        // 컨텐츠 박스 가입 관련
        #sign_up {
            background-color: #093c71;

            .cs_box_text {
                color: #fff;
            }
        }

        // 컨텐츠 박스 문의 관련
        #ask {
            background-color: #f6f6f6;

            .cs_box_text {
                color: #000;

                >p {
                    margin-bottom: 15px;
                }
            }
        }

        // 컨텐츠 박스 다운로드 및 오시는 길 관련
        #download {
            background-color: #f6f6f6;

            .cs_contents_wrap {
                .cs_box_text {
                    margin-bottom: 20px;
                }
            }

            .cs_smallbtn_wrap {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
            }
        }

        // 컨텐츠 박스 고객지원 관련
        #cs {
            background-color: #f6f6f6;

            .cs_contents_wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .cs_box_text {
                    margin-bottom: 20px;
                }

                .cs_smallbtn_wrap {
                    display: flex;
                    flex-direction: column;

                    .cs_smallbtn {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

#figure_out {
    .figure_out_wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .slide_title {
            margin-bottom: 10px;

            p {
                font-size: 26px;
                color: #222222;
            }
        }

        .more_btn {
            span {
                border: 1px solid #707070;
                font-size: 12px;
                color: #707070;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}
#blank{
    .img_wrap{
        display: flex;
        justify-content: space-between;
        .img{
            width: 200px;
            height: 200px;
            border: 1px solid #707070;
        }
    }
}
//플로팅 배너
#floating_banner{
    // 배너 wrap
    #floating_more_btn{
        display: none;
    }
    .banner_wrap{
        background-color: #fff;
        transition: all 0.3s;
        width: 140px;
        position: fixed;
        z-index: 5;
        right: 0px;
        top: 0px;
        border: 1px solid #DDDDDD;
        height: 100vh;
        //펼치기 버튼 input
        // 플로팅 배너 맨위 상단 부분
        .banner_top{
            background-color: #fe4648;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 25px;
            p{
                color: #fff;
                font-size: 32px;
                font-weight: bold;
            }
        }
        // 플로팅 배너 네비버튼 wrap
        .banner_nav_wrap{
            position: relative;
            margin-top: 150px;
            nav{
                ul{
                    a{
                        li{
                            font-size: 15px;
                            color: #444444;
                            text-align: center;
                            padding: 30px 0px;
                        }
                    }
                }
            }
            // 플로팅 배너 왼쪽 펼치기 버튼
            label[for="floating_more_btn"]{
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                background-color: #fff;
                position: absolute;
                left: -20px;
                top: 45%;
                padding: 10px 5px;
                cursor:pointer;
            }
            // 가로 구분선
            hr{
                border: 1px solid #eee;
                height: 1px;
                margin: 0 auto;
                width: 100px;
            }
        }
        .banner_nav_wrap2{
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    }
    input#floating_more_btn:checked ~ .banner_wrap{
        right: -140px;
    }
}
//top button
.top_btn{
    display: none;
    cursor: pointer;
    img{
        background-color: #003B70;
        padding: 10px 12.5px;
        position: fixed;
        right: 15%;
        bottom: 5%;
        z-index: 5;
        opacity: 0.8;
    }
}