//border color
$color-border:#7e7e7e;
//표의 타이틀 #292832
$color-bigbg_b: #202932;
$color-bigbg_font:#fff;
$color-bigbg_menu: #989898;
$color-bigbg_menu_font:#fff;
$color-smallbg_menu: rgba(152, 152, 152, 0.5);
$color-smallbg_menu_font:#fff;
$color-bg1_b:#2C3845;
$color-bg1_font_b:#fff;
$color-bg2_b:rgba(44, 56, 69, 0.5);
$color-bg2_font:#e5e5e5;
$color-bg_value:#77797C;
$color-bg_value_font:#e5e5e5;
//표의 타이틀 #5E5433
$color-bigbg_y: #5e5433;
$color-bg1_y:#877744;
$color-bg1_font:#fff;
$color-bg2_y:rgba(135, 119, 68, 0.5);
//표의 타이틀 #2A5330
$color-bigbg_g: #2A5330;
$color-bg1_g:#2F8234;
$color-bg1_font_g:#fff;
$color-bg2_g:rgba(47, 130, 52, 0.5);
//표의 타이틀 #452C3C
$color-bigbg_p: #452C3C;
$color-bg1_p:#602e4e;
$color-bg1_font_p:#fff;
$color-bg2_p:rgba(96, 46, 78, 0.5);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
}

.header_section {
    width: 100%;
    display: flex;

    .header1 {
        width: 100%;
        height: 80px;
        background-color: #000;

        .header_icon_wrap {
            .header_menu {
                padding-left: 5%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 80px;

                li {
                    display: flex;
                    align-items: center;
                    .hamburger_menu {
                        img {
                            width: 10px;
                        }
                    }

                    img {
                        color: #B6B6B6;
                    }

                    span {
                        color: #B6B6B6;
                        padding-left: 5px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.all {
    display: flex;
    width: 100%;

    .sidebar {
        width: 3.5%;
        height: 1528px;
        background-color: #2D2E33;

        .management_categories {
            .main_menu {}

            .sub_menu {}
        }
    }

    .main {
        width: 96.5%;
        background-color: #3E3E3E;
        .card_wrap {
            display: flex;
            justify-content: space-around;
            padding: 30px;
            .card_period_revenue {
                background-color: #F56954;
                width: 395px;
                height: 145px;
                color: #fff;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;
                .card_period_revenue_wrap{
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                .revenue {
                    font-size: 45px;
                }

                .period_revenue {
                    font-size: 28px;
                }

                .revenue_analysis {
                    font-size: 13px;
                }
            }
            }

            .card_period_payments {
                background-color: #FFA812;
                width: 395px;
                height: 145px;
                color: #fff;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;

                .period_payments_wrap {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .payments {
                        font-size: 45px;
                    }

                    .period_payments {
                        font-size: 28px;
                    }

                    .payments_analysis {
                        font-size: 13px;
                    }
                }
            }

            .card_period_accidents {
                background-color: #00C0F0;
                width: 395px;
                height: 145px;
                color: #fff;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;

                .number_accidents_wrap {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .accidents {
                        font-size: 45px;
                    }
                    .period_accidents {
                        font-size: 28px;
                    }
                    .accidents_analysis {
                        font-size: 13px;
                    }
                }
            }
            .card_period_users{
                background-color: #00A65A;
                width: 395px;
                height: 145px;
                color: #fff;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;
                .number_users_wrap{
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .users{
                        font-size: 45px;
                    }
                    .period_users{
                        font-size: 28px;
                    }
                    .users_analysis{
                        font-size: 13px;
                    }
                }
            }
            .btn_date{
                .btn_date_wrap{
                    height: 145px;
                    color: #B6B6B6;
                    width: 77px;
                    .btn_date_yesterday{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background-color: #fff;
                        height: 33.3%;
                        border-bottom: 1px solid #707070;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .btn_date_today{
                        background-color: #fff;
                        height: 33.3%;
                        border-bottom: 1px solid #707070;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .btn_date_this_month{
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius:5px ;
                        background-color: #fff;
                        height: 33.3%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
.chart_title{
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}
.chart_wrap{
    display: flex;
    justify-content: space-around;
    .revenue_analysis_chart{
        width: 802px;
        .sales_chart{
            height: 410px;
            background-color: #707070;
            border-radius: 5px;
        }
        
    }
    .orders_analysis_chart{
        width: 621px;
        .orders_chart{
            height: 410px;
            background-color: #707070;
            border-radius: 5px;
        }
        
    }
    .accidents_analysis_chart{
        width: 257px;
        .accidents_chart{
            height: 410px;
            background-color: #707070;
            border-radius: 5px;
        }
    }
    .table_wrap{
        .orders_table{
            display: flex;
            .orders_table2{
                padding-left: 80px;
            }
        }
        table{
            text-align: center;
            border-collapse: collapse;
            margin-top: 10px;
            thead{
                th:not(:last-child){
                    border-right: 1px solid #707070;
                }
                th{
                    border-bottom: 1px solid #707070;
                    color: #fff;
                    font-size: 12px;
                    padding: 10px;
                }
            }
            tbody{
                tr{
                    font-size: 12px;
                    td:not(:last-child){
                        border-right: 1px solid #707070;
                    }
                    td{
                        padding: 9px;
                        color: #fff;
                    }
                }
            }
        }
        p{
            color: #fff;
            font-size: 12px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
.chart_wrap2{
    color: #fff;
    .current_chart_tapmenu{
        width: 550px;
        display: flex;
        font-size: 13px;
        margin-bottom: 30px;
        .current_daily_sales,.current_order_processing,.current_order_processing,.current_customer_emoney,.current_coupon,.current_post{
            width: 110px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(112,112,112,1);
        }
    }
    .tap_daily_sales{
        width: 679px;
        height: 454px;
        background-color: rgba(112,112,112,1);
        border-radius: 5px;
    }
    .tap_current_dauly_sales_table{
        border-collapse: collapse;
        border: 1px solid rgba(112,112,112,1);;
    }
}