@use '../../common/css/color/color';
@use '../../common/css/font/font_mixin';
@import "../../common/css/common_form.scss";


#app {
    #my_page_header {
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 80px;

        #page_location {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        #title {
            font-size: 72px;
            color: color.$color-222;

            span {
                color: color.$color-007;
            }
        }
    }

    #my_page_nav {
        padding: 0 16.3%;
        margin-bottom: 30px;

        ul {
            display: flex;

            .nav_item {
                padding: 12px 0;
                flex: 1;
                text-align: center;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-collapse: collapse;
            }

            .active {
                background-color: #7E746C;
                color: #fff;
            }

            .nav_item:first-child {
                border-left: 1px solid #ddd;
            }
        }

    }

    #email_reject {
        width: 1000px;
        margin: 0 auto;
        .contents{
            .text_wrap{
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    color: #222;
                    margin-bottom: 5px;
                }
                .text{
                    line-height: 1.6;
                    padding-left: 13px;
                    margin-bottom: 40px;
                    white-space: pre-line;
                    margin-top: -30px;
                    letter-spacing: -0.4px;
                    ol{
                        padding-left: 40px;
                        li{
                            list-style: decimal;
                            font-size: 21px;
                            font-weight: 400;
                            color: #222;
                        }
                    }
                }
            }
            #t_02{
                padding-top: 40px;
            }
        }
    }
}