*{
    margin: 0;
    padding: 0;
}
.speech_bubble_na,.speech_bubble_ls{
    margin: 100px auto;
    position: relative;
    width: 240px;
    height: 64px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 5px 10px;
    .pw_status{
        color: #F73E22;
        font-size: 13px;
        font-weight: bold;
    }
    .pw_status_desc{
        color: #717171;
        font-size: 10px;
        padding-top: 3px;
    }
}
.speech_bubble_na::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #707070;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -8.5%;
    top: 20.5%;
}
.speech_bubble_na:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    left: -7.5%;
    top: 22%;
}
.speech_bubble_sp,.speech_bubble_pp{
    margin: 100px auto;
    position: relative;
    width: 240px;
    height: 64px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #707070;
    box-sizing: border-box;
    padding: 5px 10px;
    .pw_status{
        color: #49BA7C;
        font-size: 13px;
        font-weight: bold;
    }
    .pw_status_desc{
        color: #717171;
        font-size: 10px;
        padding-top: 3px;
    }
}