@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang="ko-KR"],
html[lang="ko"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang="ko-KR"] body,
html[lang="ko"] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang="en"],
html *[lang="en"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang="en"] body,
html *[lang="en"] body {
  font-size: 18px;
  font-weight: 400;
}

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #E0E0E0;
//main_color
$color-subtitle: #C4C4C4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007DFB;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;

    //header
    header {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;

      .upper_menu {
        width: 100%;
        border-bottom: 1px solid $color-header-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;

        nav {
          ul {
            list-style: none;

            .quick_menu {
              border: 1px solid $color-header-border;
              float: left;
              padding: 15px 30px;
            }
          }
        }

        .login_btn_wrap {
          nav {
            ul {
              list-style: none;

              .login_btn {
                font-size: $login-btn-size;
                float: left;
                padding: 0 10px;
              }

              .login_btn:not(:last-child) {
                border-right: 1px solid #000;
              }
            }
          }
        }
      }

      //2번째 메뉴 네비바
      #menu {
        border-bottom: 1px solid $color-header-border;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo_menu_wrap {
          display: flex;

          .logo {
            display: flex;
            align-items: center;
            padding-right: 80px;
          }

          .menu {
            display: flex;

            nav {
              ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                  float: left;
                  padding: 20px;
                }
              }
            }
          }
        }
      }
    }

    //main
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      #main {
        width: 434px;

        .title {
          margin-bottom: 15px;

          h2 {
            text-align: center;
          }
        }

        .sub_title {
          text-align: center;
          font-size: $font-subtitle;
          color: $color-subtitle;
          margin-bottom: 40px;
        }

        .find_wrap {
          text-align: center;
          display: flex;
          font-size: 15px;
          margin-bottom: 20px;

          .find_active {
            width: 215px;
            background-color: #000;
            color: #fff;
            padding: 10px 0;
          }

          .find_disabled {
            width: 215px;
            background-color: #f9f9f9;
            color: #AEAEAE;
            padding: 10px 0;
            border: 1px solid #D5D5D5;
          }
        }

        .radio_wrap {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 30px;

          input {
            margin-right: 10px;
          }

          input[type=radio] {
            width: 20px;
            height: 20px;
          }

          label {
            display: flex;
          }
        }

        .input_wrap {
          width: 430px;

          #name_input,
          #phone_input,
          #email_input {
            margin-bottom: 30px;
          }

          .info_input {
            width: 100%;
            border-bottom: 1px solid #999;

            input {
              font-size: $font-subtitle;
              border: none;
              font-weight: bold;
              padding: 10px 0;
              font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
            }

            input:focus {
              outline: none;
            }

            input::placeholder {
              font-size: 15px;
              color: $color-subtitle;
              font-weight: bolder;
            }
          }

          #email_input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
            }

            .send_btn {
              span {
                color: #fff;
                background-color: #000;
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 15px;
              }
            }
          }

          #verification_input {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .type_verification {
              span {
                color: #ff9644;
                font-size: 15px;
              }
            }
          }
        }


        .login_btn {
          background-color: #000;
          border-radius: 20px;
          text-align: center;
          padding: 10px 0;
          margin-top: 40px;

          span {
            color: #fff;
            font-size: $font-subtitle;
          }
        }
      }
    }
  }
}