@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body #app {
  height: 100%;
}
body #app a {
  text-decoration: none;
  color: inherit;
}
body #app main {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
body #app main #main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0% 10%;
}
body #app main #main .title {
  margin-bottom: 10px;
}
body #app main #main .title h2 {
  text-align: center;
}
body #app main #main .sub_title {
  margin-bottom: 10px;
}
body #app main #main .sub_title p {
  color: #5d5d5d;
  font-size: 20px;
  text-align: center;
}
body #app main #main .line {
  width: 100%;
  margin-bottom: 50px;
}
body #app main #main .line hr {
  border: 1px solid #9f9f9f;
}
body #app main #main .sign_up {
  width: 1288px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}
body #app main #main .sign_up .sign_up_wrap {
  width: 580px;
}
body #app main #main .sign_up .sign_up_wrap .title p {
  font-size: 20px;
}
body #app main #main .sign_up .sign_up_wrap .title p span {
  color: red;
  vertical-align: middle;
}
body #app main #main .sign_up .sign_up_wrap .sub_title {
  color: #21d59b;
}
body #app main #main .sign_up #policy .title {
  margin-bottom: 20px;
}
body #app main #main .sign_up #policy #service_policy {
  margin-bottom: 50px;
}
body #app main #main .sign_up #policy #info_policy {
  margin-bottom: 30px;
}
body #app main #main .sign_up #policy #info_policy .policy p {
  padding: 20px 0;
}
body #app main #main .sign_up #policy .policy_wrap .grey_header {
  background-color: #e7e7e7;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
body #app main #main .sign_up #policy .policy_wrap .policy {
  overflow: auto;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 180px;
  color: #717171;
}
body #app main #main .sign_up #policy .policy_wrap .policy p {
  font-size: 12px;
}
body #app main #main .sign_up #policy .policy_wrap .policy::-webkit-scrollbar {
  display: none;
  width: 10px;
  background-color: #fff;
}
body #app main #main .sign_up #policy .policy_wrap .policy::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
body #app main #main .sign_up #policy .policy_wrap .policy::-webkit-scrollbar-track {
  background-color: #fff;
}
body #app main #main .sign_up #policy .radio_wrap {
  color: #888888;
}
body #app main #main .sign_up #policy .radio_wrap .title p {
  font-size: 15px;
}
body #app main #main .sign_up #policy .radio_wrap .radio input {
  margin-right: 10px;
  vertical-align: middle;
}
body #app main #main .sign_up #policy .radio_wrap .radio label {
  font-size: 15px;
  margin-right: 20px;
}
body #app main #main .sign_up #policy .radio_wrap #radio_email {
  margin-bottom: 10px;
}
body #app main #main .sign_up #policy .radio_wrap #radio_email span {
  margin-right: 53px;
  font-size: 15px;
}
body #app main #main .sign_up #policy .radio_wrap #radio_sms span {
  margin-right: 14px;
  font-size: 15px;
}
body #app main #main .sign_up #info_input .title {
  margin-bottom: 5px;
}
body #app main #main .sign_up #info_input .input {
  display: flex;
}
body #app main #main .sign_up #info_input .input input {
  width: 100%;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  font-weight: bold;
}
body #app main #main .sign_up #info_input .input input::-moz-placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .input input:-ms-input-placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .input input::placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .input input[name=name] {
  width: 355px;
  margin-right: 10px;
}
body #app main #main .sign_up #info_input .input input[name=ceo] {
  width: 215px;
}
body #app main #main .sign_up #info_input .input input[name=business_num] {
  width: 217px;
}
body #app main #main .sign_up #info_input .input input[name=business_num1] {
  width: 118px;
}
body #app main #main .sign_up #info_input .input input[name=business_num2] {
  width: 215px;
}
body #app main #main .sign_up #info_input #id {
  margin-bottom: 5px;
}
body #app main #main .sign_up #info_input #id input {
  width: 477px;
  margin-right: 5px;
}
body #app main #main .sign_up #info_input #pw {
  margin-bottom: 5px;
}
body #app main #main .sign_up #info_input #pw_check {
  margin-bottom: 20px;
}
body #app main #main .sign_up #info_input .verification_wrap {
  margin-bottom: 20px;
}
body #app main #main .sign_up #info_input .verification_wrap .grey_header {
  background-color: #e7e7e7;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification {
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
body #app main #main .sign_up #info_input .verification_wrap .verification span {
  font-size: 18px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .verification_desc {
  color: #717171;
  font-size: 15px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] {
  display: none;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 17px;
  background-color: #007dfb;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 630px;
  height: 470px;
  background-color: #fff;
  z-index: 2;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone {
  font-weight: bold;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .modal_title {
  background-color: #2C3845;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap {
  padding: 30px 20px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input {
  margin-bottom: 20px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input p {
  font-size: 15px;
  color: #2E2E2E;
  margin-bottom: 10px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input input {
  width: 100%;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  font-weight: bold;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input input::-moz-placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input input:-ms-input-placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input input::placeholder {
  color: #cfcfcf;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .modal_input input:focus {
  outline: none;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_phone input {
  width: 94px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_verification p {
  font-size: 15px;
  color: #2E2E2E;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_verification .input_wrap {
  display: flex;
  justify-content: space-between;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_verification .input_wrap input {
  width: 471px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_verification .input_wrap .blue_btn {
  padding: 0;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #modal_verification .input_wrap .blue_btn span {
  padding: 10px 17px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .blue_btn {
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap .blue_btn span {
  background-color: #007dfb;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #send {
  margin-bottom: 20px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap #send span {
  padding: 10px 40px;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone .info_wrap > label {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #7d7d7d;
  border-radius: 5px;
  background-color: #7d7d7d;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup] + label + div > div .modal_phone > label {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(40%, -40%);
  padding: 20px;
  background-color: #dd5347;
  border-radius: 100%;
  z-index: 1;
}
body #app main #main .sign_up #info_input .verification_wrap .verification .modal input[id=popup]:checked + label + div {
  opacity: 1;
  visibility: visible;
}
body #app main #main .sign_up #info_input .radio_info {
  background-color: #f9f9f9;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  margin-bottom: 15px;
}
body #app main #main .sign_up #info_input .radio_info input {
  margin-right: 5px;
}
body #app main #main .sign_up #info_input .radio_info label {
  margin-right: 20px;
  font-size: 15px;
  font-weight: lighter;
}
body #app main #main .sign_up #info_input #name {
  margin-bottom: 15px;
}
body #app main #main .sign_up #info_input #email {
  margin-bottom: 15px;
}
body #app main #main .sign_up #info_input #business_num span {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
body #app main #main .sign_up .bubble {
  position: absolute;
  width: 240px;
  height: 64px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #707070;
  box-sizing: border-box;
  padding: 5px 10px;
  top: 120px;
  right: 5px;
}
body #app main #main .sign_up .bubble span {
  font-size: 13px;
  font-weight: bold;
}
body #app main #main .sign_up .bubble span img {
  vertical-align: middle;
}
body #app main #main .sign_up .bubble .bubble_desc {
  color: #717171;
  font-size: 10px;
  padding-top: 3px;
}
body #app main #main .sign_up .bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #707070;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 12px;
}
body #app main #main .sign_up .bubble::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  left: -18px;
  top: 13px;
}
body #app main #main .sign_up #bubble_na {
  display: none;
}
body #app main #main .sign_up #bubble_na span {
  color: #f73e22;
}
body #app main #main .sign_up #bubble_low {
  display: none;
}
body #app main #main .sign_up #bubble_low span {
  color: #f73e22;
}
body #app main #main .sign_up #bubble_safe {
  display: none;
}
body #app main #main .sign_up #bubble_safe span {
  color: #49BA7C;
}
body #app main #main .sign_up #bubble_power {
  display: none;
}
body #app main #main .sign_up #bubble_power span {
  color: #49BA7C;
}
body #app main #main .blue_btn {
  cursor: pointer;
  font-size: 18px;
  background-color: #007dfb;
  border: 0px solid #007dfb;
  border-radius: 5px;
  color: #fff;
  padding: 10px 17px;
}
body #app main #main .blue_btn span {
  display: inline;
}
body #app main #main #sign_up_btn {
  font-size: 25px;
  padding: 10px 210px;
  margin-bottom: 20px;
}
body #app main #main .sign_up_etc {
  font-size: 15px;
  color: #878787;
  display: flex;
  justify-content: center;
}
body #app main #main .sign_up_etc nav ul li {
  float: left;
  padding: 0px 5px;
}
body #app main #main .sign_up_etc nav ul li:not(:last-child) {
  border-right: 2px solid #878787;
}/*# sourceMappingURL=sign_up_business_style.css.map */