@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang="ko-KR"],
html[lang="ko"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang="ko-KR"] body,
html[lang="ko"] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang="en"],
html *[lang="en"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang="en"] body,
html *[lang="en"] body {
  font-size: 18px;
  font-weight: 400;
}

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #e0e0e0;
$color-grey-header: #e7e7e7;
//main_color
$color-subtitle: #c4c4c4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007dfb;
$color-naver: #19ce60;
$color-facebook: #3a5ca9;
$color-kakao: #f7e600;
//input 컬러
$color-input-bg: #f9f9f9;
$color-input-font: #cfcfcf;
$color-header-grey: #e7e7e7;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;


    // 메인 본문
    main {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 100%;

      #main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0% 10%;

        // 페이지 타이틀
        .title {
          margin-bottom: 10px;

          h2 {
            text-align: center;
          }
        }

        // 페이지 서브 타이틀
        .sub_title {
          margin-bottom: 10px;

          p {
            color: #5d5d5d;
            font-size: 20px;
            text-align: center;
          }
        }

        .line {
          width: 100%;
          margin-bottom: 50px;

          hr {
            border: 1px solid #9f9f9f;
          }
        }

        // 회원가입 양식
        .sign_up {
          width: 1288px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;
          position: relative;

          // 회원 가입 양식 
          .sign_up_wrap {
            width: 580px;

            // 회원 가입 양식 타이틀
            .title {
              p {
                font-size: 20px;

                span {
                  color: red;
                  vertical-align: middle;
                }
              }
            }

            // 회원 가입 양식 서브타이틀
            .sub_title {
              color: #21d59b;
            }
          }

          // 회원 가입 양식 약관 관련
          #policy {
            .title {
              margin-bottom: 20px;
            }

            // 이용약관 wrap
            #service_policy {
              margin-bottom: 50px;
            }

            //개인정보수집 및 이용동의 약관 wrap
            #info_policy {
              margin-bottom: 30px;

              .policy {
                p {
                  padding: 20px 0;
                }
              }
            }

            .policy_wrap {

              // 상단 회색 섹션
              .grey_header {
                background-color: $color-grey-header;
                padding: 10px 20px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
              }

              // 약관 본문
              .policy {
                overflow: auto;
                padding: 30px 20px;
                box-sizing: border-box;
                border: 1px solid $color-grey-header;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                width: 100%;
                height: 180px;
                color: #717171;

                p {
                  font-size: 12px;
                }
              }

              // 약관 본문 스크롤바
              .policy::-webkit-scrollbar {
                display: none;
                width: 10px;
                background-color: #fff;
              }

              .policy::-webkit-scrollbar-thumb {
                background-color: #fff;
                border-radius: 5px;
              }

              .policy::-webkit-scrollbar-track {
                background-color: #fff;
              }
            }

            // 수신 관련 라디오 버튼 wrap
            .radio_wrap {
              color: #888888;

              // 수신 관련 라디오 버튼 타이틀 
              .title {
                p {
                  font-size: 15px;
                }
              }

              // 라디오 버튼
              .radio {
                input {
                  margin-right: 10px;
                  vertical-align: middle;
                }

                label {
                  font-size: 15px;
                  margin-right: 20px;
                }
              }

              // 라디오 버튼 email 관련
              #radio_email {
                margin-bottom: 10px;

                span {
                  margin-right: 53px;
                  font-size: 15px;
                }
              }

              // 라디오 버튼 sms 관련
              #radio_sms {
                span {
                  margin-right: 14px;
                  font-size: 15px;
                }
              }
            }
          }

          // 회원 가입 양식 정보 입력 관련
          #info_input {

            // 회원정보 입력 타이틀
            .title {
              margin-bottom: 5px;
            }

            // 장버 입력
            .input {
              display: flex;

              input {
                width: 100%;
                font-size: 16px;
                background-color: $color-input-bg;
                border: 1px solid #d5d5d5;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 12px 10px;
                font-weight: bold;
              }

              input::placeholder {
                color: #cfcfcf;
              }

              input[name="name"] {
                width: 355px;
                margin-right: 10px;
              }

              input[name="ceo"] {
                width: 215px;
              }

              input[name="business_num"] {
                width: 217px;
              }

              input[name="business_num1"] {
                width: 118px;
              }

              input[name="business_num2"] {
                width: 215px;
              }
            }

            // 아이디 입력칸
            #id {
              margin-bottom: 5px;

              input {
                width: 477px;
                margin-right: 5px;
              }
            }

            // 비밀번호 입력칸
            #pw {
              margin-bottom: 5px;
            }

            // 비밀번호 확인 입력칸
            #pw_check {
              margin-bottom: 20px;
            }

            // 휴대폰 인증 wrap
            .verification_wrap {
              margin-bottom: 20px;

              .grey_header {
                background-color: $color-grey-header;
                padding: 10px 20px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
              }

              // 휴대폰 인증 본문
              .verification {
                box-sizing: border-box;
                border: 1px solid $color-grey-header;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: space-between;

                span {
                  font-size: 18px;
                }

                // 휴대폰 인증 설명 텍스트
                .verification_desc {
                  color: #717171;
                  font-size: 15px;
                }

                // 휴대폰 인증 모달 팝업
                .modal {
                  input[id="popup"] {
                    display: none;

                    +label {
                      cursor: pointer;
                      display: inline-block;
                      padding: 10px 17px;
                      background-color: #007dfb;
                      color: #fff;
                      font-size: 18px;
                      border-radius: 5px;
                      font-weight: bold;

                      +div {
                        opacity: 0;
                        visibility: hidden;
                        transition: all 1s;
                        position: fixed;
                        ;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 100;

                        >label {
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 100%;
                          background-color: rgba(0, 0, 0, .9);
                          z-index: 1;
                        }

                        >div {
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          width: 630px;
                          height: 470px;
                          background-color: #fff;
                          z-index: 2;

                          .modal_phone {
                            font-weight: bold;

                            // 모달 타이틀
                            .modal_title {
                              background-color: #2C3845;
                              color: #fff;
                              font-size: 20px;
                              padding: 10px;
                            }

                            .info_wrap {
                              padding: 30px 20px;

                              // 모달 휴대폰 입력칸
                              .modal_input {
                                margin-bottom: 20px;

                                p {
                                  font-size: 15px;
                                  color: #2E2E2E;
                                  margin-bottom: 10px;
                                }

                                input {
                                  width: 100%;
                                  font-size: 16px;
                                  background-color: $color-input-bg;
                                  border: 1px solid #d5d5d5;
                                  box-sizing: border-box;
                                  border-radius: 5px;
                                  padding: 12px 10px;
                                  font-weight: bold;
                                }

                                input::placeholder {
                                  color: #cfcfcf;
                                }

                                input:focus {
                                  outline: none;
                                }
                              }

                              #modal_phone {
                                input {
                                  width: 94px;
                                }
                              }

                              #modal_verification {
                                p {
                                  font-size: 15px;
                                  color: #2E2E2E;

                                }

                                .input_wrap {
                                  display: flex;
                                  justify-content: space-between;

                                  input {
                                    width: 471px;
                                  }

                                  .blue_btn {
                                    padding: 0;

                                    span {
                                      padding: 10px 17px;
                                    }
                                  }
                                }
                              }


                              .blue_btn {
                                padding: 0;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;

                                span {
                                  background-color: #007dfb;
                                  color: #fff;
                                  font-size: 18px;
                                  border-radius: 5px;
                                  font-weight: bold;
                                  text-align: center;
                                }
                              }

                              // 모달 인증번호 문자 발송 버튼
                              #send {
                                margin-bottom: 20px;

                                span {
                                  padding: 10px 40px;
                                }
                              }

                              >label {
                                width: 100%;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                background-color: #7d7d7d;
                                border-radius: 5px;
                                background-color: #7d7d7d;
                                color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: center;
                                padding: 10px 0;
                              }
                            }

                            >label {
                              position: absolute;
                              top: 0%;
                              right: 0%;
                              transform: translate(40%, -40%);
                              padding: 20px;
                              background-color: #dd5347;
                              border-radius: 100%;
                              z-index: 1;
                            }
                          }
                        }
                      }
                    }
                  }

                  input[id="popup"]:checked {
                    +label {
                      +div {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
            }

            // 회원가입 유형 선택
            .radio_info {
              background-color: #f9f9f9;
              border: 1px solid #d5d5d5;
              box-sizing: border-box;
              border-radius: 5px;
              padding: 12px 10px;
              margin-bottom: 15px;

              input {
                margin-right: 5px;
              }

              label {
                margin-right: 20px;
                font-size: 15px;
                font-weight: lighter;
              }
            }

            #name {
              margin-bottom: 15px;
            }
            #email{
              margin-bottom: 15px;
            }
            #business_num{
              span{
                padding: 0 5px;
                display: flex;
                align-items: center;
              }
            }
          }

          .bubble {
            position: absolute;
            width: 240px;
            height: 64px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid #707070;
            box-sizing: border-box;
            padding: 5px 10px;
            top: 120px;
            right: 5px;

            // p:first-child{
            //   color: #F73E22;
            //   font-size: 13px;
            //   font-weight: bold;
            // }
            span {
              font-size: 13px;
              font-weight: bold;

              img {
                vertical-align: middle;
              }
            }

            .bubble_desc {
              color: #717171;
              font-size: 10px;
              padding-top: 3px;
            }
          }

          .bubble::before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid #707070;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            left: -20px;
            top: 12px;
          }

          .bubble::after {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 9px solid transparent;
            border-right: 9px solid #fff;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            left: -18px;
            top: 13px;
          }

          #bubble_na {
            display: none;

            span {
              color: #f73e22;
            }
          }

          #bubble_low {
            display: none;

            span {
              color: #f73e22;
            }
          }

          #bubble_safe {
            display: none;

            span {
              color: #49BA7C;
            }
          }

          #bubble_power {
            display: none;

            span {
              color: #49BA7C;
            }
          }
        }

        // 파랑 기본 버튼
        .blue_btn {
          cursor: pointer;
          font-size: 18px;
          background-color: $color-btn-blue;
          border: 0px solid $color-btn-blue;
          border-radius: 5px;
          color: #fff;
          padding: 10px 17px;

          span {
            display: inline;
          }
        }

        //약관 동의 가입 버튼
        #sign_up_btn {
          font-size: 25px;
          padding: 10px 210px;
          margin-bottom: 20px;
        }

        // home, 아이디 찾기, 비밀번호 찾기, 로그인하기 버튼
        .sign_up_etc {
          font-size: 15px;
          color: #878787;
          display: flex;
          justify-content: center;

          nav {
            ul {
              li {
                float: left;
                padding: 0px 5px;
              }

              li:not(:last-child) {
                border-right: 2px solid #878787;
              }
            }
          }
        }
      }
    }
  }
}