@import "../../common/css/common_form.scss";

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;

    // 메인 본문
    main {
      display: flex;
      justify-content: center;
      height: 100%;

      #main {
        display: flex;
        align-items: center;
        flex-direction: column;
// 페이지 타이틀
        .title {
          margin-bottom: 50px;

          h2 {
            text-align: center;
          }
        }
        // 회원가입 축하 텍스트
        .congrat_text {
          font-size: 23px;
          margin-bottom: 30px;
        }
        // 페이지 서브 타이틀
        .sub_title {
          margin-bottom: 70px;

          p {
            color: #5d5d5d;
            font-size: 20px;
            text-align: center;
          }
        }
        .blue_btn {
          font-size: 18px;
          background-color: $color-btn-blue;
          border: 0px solid $color-btn-blue;
          border-radius: 5px;
          color: #fff;
          padding: 15px 17px;
          span {
            display: inline;
          }
        }
        // 메인으로 돌아가기 버튼
        #goto_main {
          width: 440px;
          text-align: center;
        }
      }
    }
  }
}
