@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

@font-face {
  font-family: 'Pretendard-Bold';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang="ko-KR"],
html[lang="ko"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang="ko-KR"] body,
html[lang="ko"] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang="en"],
html *[lang="en"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang="en"] body,
html *[lang="en"] body {
  font-size: 18px;
  font-weight: 400;
}

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #E0E0E0;
$color-grey-header: #e7e7e7;
//main_color
$color-subtitle: #C4C4C4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007DFB;
$color-naver: #19CE60;
$color-facebook: #3A5CA9;
$color-kakao: #F7E600;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;

    //header
    header {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;

      .upper_menu {
        width: 100%;
        border-bottom: 1px solid $color-header-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;

        nav {
          ul {
            list-style: none;

            .quick_menu {
              border: 1px solid $color-header-border;
              float: left;
              padding: 15px 30px;
            }
          }
        }

        .login_btn_wrap {
          nav {
            ul {
              list-style: none;

              .login_btn {
                font-size: $login-btn-size;
                float: left;
                padding: 0 10px;
              }

              .login_btn:not(:last-child) {
                border-right: 1px solid #000;
              }
            }
          }
        }
      }

      //2번째 메뉴 네비바
      #menu {
        border-bottom: 1px solid $color-header-border;
        padding: 20px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo_menu_wrap {
          display: flex;

          .logo {
            display: flex;
            align-items: center;
            padding-right: 80px;
          }

          .menu {
            display: flex;

            nav {
              ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                  float: left;
                  padding: 20px;
                }
              }
            }
          }
        }
      }
    }

    //main
    main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      #main {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        padding: 0% 10%;

        .title {
          margin-bottom: 10px;

          h2 {
            text-align: center;
          }
        }

        .sub_title {
          margin-bottom: 10px;

          p {
            color: #5D5D5D;
            font-size: 20px;
            text-align: center;
          }
        }
        .line{
          width: 100%;
          hr{
            border: 1px solid #9f9f9f;
          }
        }
        .sign_up_wrap{
          width: 100%;
          .policy_desc_wrap{
            p{
              font-size: 20px;
              span{
                color: red;
                vertical-align: middle;
              }
            }
          }
          .policy_wrap{
            .grey_header{
              background-color: $color-grey-header;
              padding: 10px 20px;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
            }
            .policy{
              overflow: auto;
              padding: 40px 30px;
              box-sizing: border-box;
              border: 1px solid $color-grey-header;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              width: 100%;
              height: 180px;
            }
            .policy::-webkit-scrollbar {
              display: none;
              width: 10px;
              background-color: #fff;
          }

          .policy::-webkit-scrollbar-thumb {
              background-color: #fff;
              border-radius: 5px;
          }

          .policy::-webkit-scrollbar-track {
              background-color: #fff;
          }
          }
          #policy_wrap{
            .title{
              p{
                color: #888888;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}