
@import "../../common/css/common_form.scss";

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;

// 메인 본문
    main {
      display: flex;
      justify-content: center;
      height: 100%;

      #main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
// 페이지 타이틀
        .title {
          margin-bottom: 30px;

          h2 {
            text-align: center;
          }
        }
// 페이지 서브 타이틀
        .sub_title {
          margin-bottom: 70px;

          p {
            color: #5d5d5d;
            font-size: 20px;
            text-align: center;
          }
        }
// 회원가입 wrap
        .sign_up_wrap {
          width: 434px;
// 회원가입 버튼 사각형 기본
          .sign_up_btn {
            display: flex;
            padding: 15px 0;
            justify-content: center;
          }
// 트윈벨 회원가입
          #twinbell_sign {
            background-color: $color-btn-blue;
            margin-bottom: 20px;
          }
// 카카오 회원가입
          #kakao_sign {
            background-color: $color-kakao;
            margin-bottom: 20px;
          }
// 네이버 회원가입
          #naver_sign {
            background-color: $color-naver;
            margin-bottom: 20px;
          }
// 페이스북 회원가입
          #fb_sign {
            background-color: $color-facebook;
          }
// home, 아이디 찾기, 비밀번호 찾기, 로그인하기 버튼
          .sign_up_etc {
            margin-bottom: 80px;
            display: flex;
            justify-content: center;

            nav {
              ul {
                li {
                  float: left;
                  padding: 0px 5px;
                }
                a{
                  li{
                    border-right: 2px solid #878787;
                  }
                }
                a:last-child{
                  li{
                    border-right: 0px;
                  }
                }
              }
            }
          }
        }
// sns 로그인 / 회원가입 원형 버튼 wrap
        .sns_btn_wrap {
          nav {
            ul {
              li {
                float: left;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}