@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

#app #my_page_header {
  padding: 0 16.3%;
  margin-bottom: 30px;
}
#app #my_page_header #page_location {
  margin-top: 40px;
  margin-bottom: 20px;
}
#app #my_page_header #title {
  font-size: 72px;
  color: #222;
}
#app #my_page_header #title span {
  color: #007dfb;
}
#app #my_page_nav {
  padding: 0 16.3%;
  margin-bottom: 30px;
}
#app #my_page_nav ul {
  display: flex;
}
#app #my_page_nav ul .nav_item {
  padding: 12px 0;
  flex: 1;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-collapse: collapse;
}
#app #my_page_nav ul .active {
  background-color: #7E746C;
  color: #fff;
}
#app #my_page_nav ul .nav_item:first-child {
  border-left: 1px solid #ddd;
}
#app .period_contents {
  padding: 0% 16.3%;
  margin-bottom: 16px;
}
#app .period_contents #shipping_level .title_wrap {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
#app .period_contents #shipping_level .title_wrap .title li {
  list-style: disc;
}
#app .period_contents #shipping_level .title_wrap .desc {
  align-self: flex-end;
}
#app .period_contents #shipping_level .level_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
#app .period_contents #shipping_level .level_wrap .level {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#app .period_contents #shipping_level .level_wrap .level img {
  width: 40px;
  height: 40px;
}
#app .period_contents #shipping_level .level_wrap span {
  top: -10px;
  right: 20px;
  background-color: #ff0000;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  padding: 2px;
  position: absolute;
}
#app .period_contents .header .title_wrap {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
#app .period_contents .header .title_wrap .title li {
  list-style: disc;
}
#app .period_contents .header .title_wrap .desc {
  align-self: flex-end;
}
#app .period_contents .filter_wrap {
  border: 1px solid #ddd;
  padding: 32px;
  border-radius: 5px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}
#app .period_contents .filter_wrap .date_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#app .period_contents .filter_wrap .date_wrap .date_btn_wrap {
  display: flex;
  gap: 8px;
}
#app .period_contents .filter_wrap .date_wrap .date_btn_wrap .date_btn {
  width: 51px;
  background-color: #999;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0px;
  cursor: pointer;
}
#app .period_contents .filter_wrap .date_wrap .date_picker_wrap input {
  width: 133px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px 16px;
  background-image: url(../img/index/callendar.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}
#app .period_contents .filter_wrap .input_wrap {
  display: flex;
  gap: 16px;
}
#app .period_contents .filter_wrap .input_wrap select {
  font-size: 15px;
  color: #222;
  font-weight: 600;
  border: 1px solid #ddd;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: left;
  width: 138px;
}
#app .period_contents .filter_wrap .input_wrap input {
  width: 348px;
  text-align: left;
  font-size: 15px;
  color: #222;
  font-weight: 600;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 16px;
}
#app .period_contents .filter_wrap .check_wrap span {
  background-color: #007dfb;
  border-radius: 50%;
  padding: 27px 11px;
  cursor: pointer;
}
#app .contents {
  padding: 0% 16.3%;
  margin-bottom: 40px;
}
#app .contents .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
#app .contents .header .title {
  display: flex;
}
#app .contents .header .title .desc {
  padding-left: 8px;
  display: flex;
  align-items: center;
}
#app .contents .header .title .desc img {
  padding-right: 4px;
}
#app .contents .header .etc_wrap {
  display: flex;
  gap: 4px;
}
#app .contents .header .etc_wrap .desc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}
#app .contents .header .etc_wrap .black {
  background-color: #222;
}
#app .contents .header .etc_wrap .in_order select {
  border: 1px solid #D6DAE1;
  padding: 4px 4px;
  color: #888;
}
#app .contents .contents_list table {
  width: 100%;
  border-collapse: collapse;
}
#app .contents .contents_list table thead tr {
  width: 100%;
}
#app .contents .contents_list table thead tr th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#app .contents .contents_list table thead tr .th_00 {
  border-left: 1px solid #ddd;
}
#app .contents .contents_list table thead tr .th_01, #app .contents .contents_list table thead tr .th_04, #app .contents .contents_list table thead tr .th_06, #app .contents .contents_list table thead tr .th_07 {
  width: 10%;
}
#app .contents .contents_list table thead tr .th_00, #app .contents .contents_list table thead tr .th_02, #app .contents .contents_list table thead tr .th_03, #app .contents .contents_list table thead tr .th_05 {
  width: 15%;
}
#app .contents .contents_list table thead tr th {
  padding: 8px 0px;
  background-color: #fbfbfb;
  border-right: 1px solid #ddd;
}
#app .contents .contents_list table tbody {
  text-align: center;
  line-height: 1.6;
}
#app .contents .contents_list table tbody tr {
  border: 1px solid #ddd;
}
#app .contents .contents_list table tbody tr td {
  padding: 16px 16px;
}
#app .contents .contents_list table tbody tr td .order_number, #app .contents .contents_list table tbody tr td .price, #app .contents .contents_list table tbody tr td .order_state {
  margin-bottom: 8px;
}
#app .contents .contents_list table tbody tr td .green {
  display: inline;
  background-color: #27AB34;
  color: #fff;
  padding: 4px 11px;
  width: 71px;
  cursor: pointer;
}
#app .contents .contents_list table tbody tr td .pink {
  display: inline;
  background-color: #F600DE;
  color: #fff;
  padding: 4px 17px;
  width: 71px;
}
#app .contents .contents_list table tbody tr td .red {
  display: inline-block;
  padding: 4px 0px;
  color: #fff;
  width: 71px;
  background-color: #ff0000;
  cursor: pointer;
}
#app .contents .contents_list table tbody tr td .blue {
  display: inline-block;
  padding: 4px 0px;
  width: 71px;
  background-color: #007dfb;
  cursor: pointer;
}
#app .contents .contents_list table tbody tr td .white {
  background-color: #fff;
  color: #222;
}
#app .contents .contents_list table tbody tr td .red_text {
  color: #ff0000;
}
#app .contents .contents_list table tbody tr td .desc {
  margin-top: 16px;
}
#app .contents .contents_list table tbody tr td .page_space {
  margin: 8px 0px;
}
#app .contents .contents_list table tbody tr td:not(:last-child) {
  border-right: 1px solid #ddd;
}
#app .contents .contents_list table tbody tr td:last-child div:not(:last-child) {
  margin-bottom: 4px;
}
#app .contents .contents_list table tbody tr td:last-child .gray {
  background-color: #999999;
}
#app .contents .contents_list table tbody tr td:last-child .dark_gray {
  background-color: #666666;
}
#app .contents .contents_list table tbody tr td:last-child .white {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
}
#app .contents .contents_list table tbody tr td:nth-child(6) div {
  margin: 0 auto;
  width: 71px;
  padding: 4px 0px;
  background-color: #222;
  cursor: pointer;
}
#app .contents .contents_list table tbody tr td:nth-child(6) div:not(:last-child) {
  margin-bottom: 4px;
}
#app .contents .contents_list table tbody tr td:nth-child(6) .gray {
  background-color: #999999;
}
#app .contents .contents_list table tbody tr td:nth-child(6) .dark_gray {
  background-color: #666666;
}
#app .contents .contents_list table tbody tr td:nth-child(6) .white {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
}
#app .contents .contents_list table tbody tr .progress_red {
  color: #ff0000;
}
#app #e_money .th_00 {
  border-left: 1px solid #ddd;
}
#app #e_money .th_00, #app #e_money .th_03, #app #e_money .th_04 {
  width: 10%;
}
#app #e_money .th_02 {
  width: 8%;
}
#app #e_money .th_01 {
  width: 62%;
}
#app #e_money td:first-child .date_time_wrap {
  display: flex;
  gap: 4px;
}
#app #e_money_rest {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
#app #e_money_rest .wrap {
  width: 460.34px;
  display: flex;
  border: 1px solid #ddd;
}
#app #e_money_rest .wrap .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143.34px;
  text-align: center;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app #e_money_rest .wrap .price_wrap {
  width: 316px;
  display: flex;
  justify-content: space-around;
  height: 94px;
}
#app #e_money_rest .wrap .price_wrap .price {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app #e_money_rest .wrap .price_wrap .charge {
  display: flex;
  align-items: center;
  justify-content: center;
}
#app #e_money_rest .wrap .price_wrap .charge span {
  background-color: #007dfb;
  border-radius: 50%;
  padding: 27px 11px;
  cursor: pointer;
}
#app #e_money_rest .desc {
  background-color: #888;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  text-align: center;
}/*# sourceMappingURL=e_money_style.css.map */