@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@font-face {
  font-family: 'Pretendard-Bold';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang="ko-KR"],
html[lang="ko"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang="ko-KR"] body,
html[lang="ko"] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang="en"],
html *[lang="en"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang="en"] body,
html *[lang="en"] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.all_wrap {
  padding: 15px 0;
  width: 1280px;
  height: 100%;
}

.all_wrap .sign_up_wrap {
  width: 100%;
}

.all_wrap .sign_up_wrap .title_wrap {
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 0px;
}

.all_wrap .sign_up_wrap .title_wrap .title {
  margin-bottom: 10px;
}

.all_wrap .sign_up_wrap .title_wrap .title p {
  font-size: 50px;
}

.all_wrap .sign_up_wrap .title_wrap .sub_title p {
  font-size: 25px;
  color: #000;
}

.all_wrap .sign_up_wrap2 {
  width: 100%;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap {
  width: 45%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .grey_header {
  font-size: 15px;
  height: 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e7e7e7;
  color: #000;
  font-weight: bold;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .policy_contents {
  color: #717171;
  overflow: auto;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 180px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .policy_contents p {
  font-size: 12px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .policy_contents::-webkit-scrollbar {
  display: none;
  width: 10px;
  background-color: #fff;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .policy_contents::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_wrap .policy_contents::-webkit-scrollbar-track {
  background-color: #fff;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .grey_header {
  font-size: 15px;
  height: 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e7e7e7;
  color: #000;
  font-weight: bold;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .policy_contents {
  color: #717171;
  overflow: auto;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 580px;
  height: 246px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .policy_contents p {
  font-size: 12px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .policy_contents::-webkit-scrollbar {
  display: none;
  width: 10px;
  background-color: #fff;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .policy_contents::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .privacy_policy_wrap .policy_contents::-webkit-scrollbar-track {
  background-color: #fff;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap {
  color: #888;
  font-size: 15px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .policy_radio_text {
  padding: 10px 0;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .reception_radio_wrap .reception_radio_text {
  margin-right: 60px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .reception_radio_wrap .reception_radio .reception_radio_email label {
  margin-right: 15px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .reception_radio_wrap .reception_radio .reception_radio_email input {
  margin-right: 10px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .reception_radio_wrap .reception_radio .reception_radio_sms label {
  margin-right: 15px;
}

.all_wrap .sign_up_wrap2 .policy_agreement_wrap .policy_radio_wrap .reception_radio_wrap .reception_radio .reception_radio_sms input {
  margin-right: 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap {
  width: 45%;
  padding: 15px 0;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap {
  width: 100%;
  padding-bottom: 15px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .input_information_title {
  font-size: 20px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .input_information_title p {
  padding-bottom: 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .input_information_title .input_information_subtitle {
  font-size: 15px;
  color: #21D59B;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id .input_btn {
  font-size: 18px;
  width: 100px;
  background-color: #007DFB;
  border: 0px solid #007DFB;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 7px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_id .input_btn span {
  color: #fff;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_information_wrap .sign_up_input_wrap .input_type_pw_check input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .phone_verification_wrap .grey_header {
  font-size: 15px;
  height: 52px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #e7e7e7;
  color: #000;
  font-weight: bold;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .phone_verification_wrap .phone_verification_wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  border: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .phone_verification_wrap .phone_verification_wrap2 span {
  font-size: 15px;
  color: #717171;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .phone_verification_wrap .phone_verification_wrap2 .input_btn {
  font-size: 18px;
  width: 100px;
  background-color: #007DFB;
  border: 0px solid #007DFB;
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 7px;
  color: #fff;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap {
  margin-top: 20px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .input_information_title {
  font-size: 20px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .input_information_title p {
  padding-bottom: 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .input_information_title .input_information_subtitle {
  font-size: 15px;
  color: #21D59B;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .user_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .user_type .input_radio .radio_wrap {
  font-size: 15px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .user_type .input_radio .radio_wrap label {
  margin-right: 20px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .user_type .input_radio .radio_wrap label input {
  margin-right: 5px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap {
  padding-top: 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .company_name input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_name .ceo_name input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email {
  padding-bottom: 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_email .email input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 .input_frame, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 .input_frame, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 .input_frame {
  font-size: 14px;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 10px;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 input:focus, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 input:focus, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 input:focus {
  outline: none;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 input::-webkit-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 input::-webkit-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 input:-ms-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 input:-ms-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 input::-ms-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 input::-ms-input-placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 input::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 input::placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 input::placeholder, .all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 input::placeholder {
  color: #cfcfcf;
  font-size: 15px;
  font-weight: bold;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business1 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .input_business .business3 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.all_wrap .sign_up_wrap2 .input_sign_up_wrap .input_more_information_wrap .more_sign_up_input_wrap .input_company_wrap .void {
  height: 49px;
}

.all_wrap .sign_up_wrap3 .sign_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 645px;
  height: 52px;
  background-color: #007DFB;
  border: 0px solid #007DFB;
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 7px;
  color: #fff;
}

.all_wrap .sign_up_wrap3 .sign_up_text_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  font-size: 15px;
}

.all_wrap .sign_up_wrap3 .sign_up_text_btn a {
  text-decoration: none;
  color: #878787;
}

.all_wrap .sign_up_wrap3 .sign_up_text_btn span {
  color: #878787;
}
/*# sourceMappingURL=sign_up_user_style.css.map */