@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body #app {
  height: 100%;
}
body #app a {
  text-decoration: none;
  color: inherit;
}
body #app main {
  display: flex;
  justify-content: center;
  height: 100%;
}
body #app main #main {
  width: 434px;
}
body #app main #main .title {
  margin-bottom: 15px;
}
body #app main #main .title h2 {
  text-align: center;
}
body #app main #main .sub_title {
  text-align: center;
  font-size: 18px;
  color: #c4c4c4;
  margin-bottom: 40px;
}
body #app main #main .find_wrap {
  text-align: center;
  display: flex;
  font-size: 15px;
  margin-bottom: 40px;
}
body #app main #main .find_wrap .find_active {
  width: 215px;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}
body #app main #main .find_wrap .find_disabled {
  width: 215px;
  background-color: #f9f9f9;
  color: #aeaeae;
  padding: 10px 0;
  border: 1px solid #d5d5d5;
}
body #app main #main .result_desc {
  margin-bottom: 30px;
}
body #app main #main .result_desc p {
  text-align: center;
  font-size: 17px;
  color: #636363;
}
body #app main #main .result_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
}
body #app main #main .result_wrap .result span {
  font-size: 40px;
  text-align: center;
}
body #app main #main .result_wrap .copy_btn span {
  font-size: 12px;
  background-color: #007dfb;
  color: #fff;
  padding: 5px;
}
body #app main #main .input_wrap {
  width: 430px;
}
body #app main #main .input_wrap #name_input,
body #app main #main .input_wrap #phone_input {
  margin-bottom: 30px;
}
body #app main #main .input_wrap .info_input {
  width: 100%;
  border-bottom: 1px solid #999;
}
body #app main #main .input_wrap .info_input input {
  width: 100%;
  font-size: 18px;
  border: none;
  font-weight: bold;
  padding: 10px 0;
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}
body #app main #main .input_wrap .info_input input:focus {
  outline: none;
}
body #app main #main .input_wrap .info_input input::-moz-placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}
body #app main #main .input_wrap .info_input input:-ms-input-placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}
body #app main #main .input_wrap .info_input input::placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}
body #app main #main .login_btn {
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
body #app main #main .login_btn span {
  color: #fff;
  font-size: 18px;
}/*# sourceMappingURL=find_id_result_style.css.map */