@import "../../common/css/common_form.scss";
@import '../../common/css/font/fonts.scss';

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #e0e0e0;
//main_color
$color-subtitle: #c4c4c4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007dfb;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;


    // 메인 본문
    main {
      display: flex;
      justify-content: center;
      height: 100%;

      #main {
        width: 434px;

        // 페이지 타이틀
        .title {
          margin-bottom: 15px;

          h2 {
            text-align: center;
          }
        }

        // 페이지 서브타이틀
        .sub_title {
          text-align: center;
          font-size: $font-subtitle;
          color: $color-subtitle;
          margin-bottom: 40px;
        }

        .find_wrap {
          text-align: center;
          display: flex;
          font-size: 15px;
          margin-bottom: 24px;

          // 찾기 버튼 활성화 상태
          .find_active {
            width: 215px;
            background-color: #000;
            color: #fff;
            padding: 10px 0;
          }

          // 찾기 버튼 비활성화 상태
          .find_disabled {
            width: 215px;
            background-color: #f9f9f9;
            color: #aeaeae;
            padding: 10px 0;
            border: 1px solid #d5d5d5;
          }
        }

        // 라디오 버튼 
        .radio_wrap {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 30px;

          input {
            margin-right: 10px;
          }

          input[type="radio"] {
            width: 20px;
            height: 20px;
          }

          label {
            display: flex;
          }
          .radio_verification{
            flex: 1;
          }
        }

        .input_wrap {
          width: 430px;

          // 이름 입력칸
          #name_input {
          }

          .info_input {
            width: 100%;
            border-bottom: 1px solid #999;
            padding: 8px 0px;
            // 입력칸
            input {
              width: 100%;
              font-size: $font-subtitle;
              border: none;
              font-weight: bold;
              padding: 10px 0;
              font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
            }

            // 입력칸 focus
            input:focus {
              outline: none;
            }

            // 입력칸 placeholder
            input::placeholder {
              font-size: 15px;
              color: $color-subtitle;
              font-weight: bolder;
            }
          }
          #phone_input{
            display: flex;
            #verify{
              width: 100px;
              height: 52px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              background-color: #000;
              cursor: pointer;
            }
          }
          #verify_input{
            display: flex;
            align-items: center;
            position: relative;
            .help_info{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #CCCCCC;
              width: 16px;
              height: 16px;
              font-size: 6px;
              color: #fff;
            }
            .bubble {
              position: absolute;
              width: 240px;
              height: 64px;
              background-color: #fff;
              border-radius: 10px;
              border: 1px solid #707070;
              box-sizing: border-box;
              padding: 5px 10px;
              top: 120px;
              right: 5px;
  
              // p:first-child{
              //   color: #F73E22;
              //   font-size: 13px;
              //   font-weight: bold;
              // }
              span {
                font-size: 13px;
                font-weight: bold;
  
                img {
                  vertical-align: middle;
                }
              }
  
              .bubble_desc {
                color: #717171;
                font-size: 10px;
                padding-top: 3px;
              }
            }
  
            .bubble::before {
              content: "";
              width: 0px;
              height: 0px;
              position: absolute;
              border-left: 10px solid transparent;
              border-right: 10px solid #707070;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              left: -20px;
              top: 12px;
            }
  
            .bubble::after {
              content: "";
              width: 0px;
              height: 0px;
              position: absolute;
              border-left: 9px solid transparent;
              border-right: 9px solid #fff;
              border-top: 9px solid transparent;
              border-bottom: 9px solid transparent;
              left: -18px;
              top: 13px;
            }
            #bubble_help{
              display: none;
              top: 5px;
              right:-260px;
            }
          }
        }

        // 아이디 찾기 버튼
        .login_btn {
          background-color: #000;
          border-radius: 20px;
          text-align: center;
          padding: 10px 0;
          margin-top: 40px;

          span {
            color: #fff;
            font-size: $font-subtitle;
          }
        }
      }
    }
  }
}