@import "../../common/css/common_form.scss";

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #e0e0e0;
//main_color
$color-subtitle: #c4c4c4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007dfb;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;


// 메인 본문
    main {
      display: flex;
      justify-content: center;
      height: 100%;

      #main {
        width: 434px;
        // 페이지 타이틀
        .title {
          margin-bottom: 15px;

          h2 {
            text-align: center;
          }
        }
        // 페이지 서브타이틀
        .sub_title {
          text-align: center;
          font-size: $font-subtitle;
          color: $color-subtitle;
          margin-bottom: 40px;
        }
        .find_wrap {
          text-align: center;
          display: flex;
          font-size: 15px;
          margin-bottom: 40px;
          // 찾기 버튼 활성화 상태
          .find_active {
            width: 215px;
            background-color: #000;
            color: #fff;
            padding: 10px 0;
          }
          // 찾기 버튼 비활성화 상태
          .find_disabled {
            width: 215px;
            background-color: #f9f9f9;
            color: #aeaeae;
            padding: 10px 0;
            border: 1px solid #d5d5d5;
          }
        }
        // 찾기 결과 텍스트
        .result_desc {
          margin-bottom: 30px;
          p {
            text-align: center;
            font-size: 17px;
            color: #636363;
          }
        }
        .result_wrap {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-bottom: 2px solid $color-header-border;
          padding-bottom: 5px;
          // 찾기 결과 값
          .result {
            span {
              font-size: $font-largest;
              text-align: center;
            }
          }
          .copy_btn {
            span {
              font-size: 12px;
              background-color: $color-btn-blue;
              color: #fff;
              padding: 5px;
            }
          }
        }

        .input_wrap {
          width: 430px;

          #name_input,
          #phone_input {
            margin-bottom: 30px;
          }

          .info_input {
            width: 100%;
            border-bottom: 1px solid #999;

            input {
              width: 100%;
              font-size: $font-subtitle;
              border: none;
              font-weight: bold;
              padding: 10px 0;
              font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
            }

            input:focus {
              outline: none;
            }

            input::placeholder {
              font-size: 15px;
              color: $color-subtitle;
              font-weight: bolder;
            }
          }
        }
        // 로그인하기 버튼
        .login_btn {
          background-color: #000;
          border-radius: 20px;
          text-align: center;
          padding: 10px 0;
          margin-top: 40px;

          span {
            color: #fff;
            font-size: $font-subtitle;
          }
        }
      }
    }
  }
}
