@import "../../common/css/common_form.scss";

//font-size
$login-btn-size: 14px;

//header_color
$color-header-border: #e0e0e0;
//main_color
$color-subtitle: #c4c4c4;
//font-size
$font-largest: 40px;
$font-subtitle: 18px;
//버튼 컬러
$color-btn-blue: #007dfb;

//css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

body {
  #app {
    a {
      text-decoration: none;
      color: inherit;
    }

    height: 100%;

// 메인 본문
    main {
      display: flex;
      justify-content: center;
      height: 100%;
      #main {
        width: 434px;
        // 페이지 타이틀
        .title {
          margin-bottom: 100px;

          h2 {
            text-align: center;
          }
        }

        .input_wrap {
          width: 430px;

          #id_input {
            margin-bottom: 30px;
          }

          .info_input {
            width: 100%;
            border-bottom: 1px solid #999;
            // 입력칸 
            input {
              width: 100%;
              font-size: $font-subtitle;
              border: none;
              font-weight: bold;
              padding: 10px 0;
              font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
            }
            // 입력칸 focus
            input:focus {
              outline: none;
            }
            // 입력칸 placeholder
            input::placeholder {
              font-size: 15px;
              color: $color-subtitle;
              font-weight: bolder;
            }
          }
        }
// home, 아이디 찾기, 비밀번호 찾기, 로그인하기 버튼
        .input_etc_wrap {
          padding: 15px 0;
          display: flex;
          justify-content: space-between;
          width: 430px;

          span,
          label {
            font-size: 16px;
            color: #222;
          }

          label {
            display: flex;
            align-items: center;
          }

          input {
            margin-right: 10px;
          }
          // 아이디 기억하기 체크박스
          .id_remember {
            width: 100%;

            input[type="checkbox"] {
              width: 20px;
              height: 20px;
            }
          }

          .find_wrap {
            display: flex;
            justify-content: end;
            width: 100%;

            // 아이디 찾기
            .find_btn:first-child {
              span {
                padding-right: 10px;
                border-right: 1px solid #000;
              }
            }
            // 비밀번호 찾기
            .find_btn:last-child {
              span {
                padding-left: 10px;
              }
            }
          }
        }
        // 로그인 버튼
        .login_btn {
          background-color: #000;
          border-radius: 20px;
          text-align: center;
          padding: 10px 0;
          margin: 30px 0;

          span {
            color: #fff;
            font-size: $font-subtitle;
          }
        }
        //원형 SNS 버튼 wrap
        .sns_btn_wrap {
          nav {
            display: flex;
            justify-content: center;

            ul {
              list-style: none;

              li {
                float: left;
              }

              li:not(:last-child) {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
