@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang="ko-KR"],
html[lang="ko"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

html[lang="ko-KR"] body,
html[lang="ko"] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang="en"],
html *[lang="en"] {
  font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif;
}

html[lang="en"] body,
html *[lang="en"] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 40px;
}

body #app {
  height: 100%;
}

body #app a {
  text-decoration: none;
  color: inherit;
}

body #app header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body #app header .upper_menu {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

body #app header .upper_menu nav ul {
  list-style: none;
}

body #app header .upper_menu nav ul .quick_menu {
  border: 1px solid #e0e0e0;
  float: left;
  padding: 15px 30px;
}

body #app header .upper_menu .login_btn_wrap nav ul {
  list-style: none;
}

body #app header .upper_menu .login_btn_wrap nav ul .login_btn {
  font-size: 14px;
  float: left;
  padding: 0 10px;
}

body #app header .upper_menu .login_btn_wrap nav ul .login_btn:not(:last-child) {
  border-right: 1px solid #000;
}

body #app header #menu {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app header #menu .logo_menu_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app header #menu .logo_menu_wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px;
}

body #app header #menu .logo_menu_wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #app header #menu .logo_menu_wrap .menu nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app header #menu .logo_menu_wrap .menu nav ul li {
  float: left;
  padding: 20px;
}

body #app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

body #app main #main {
  width: 434px;
  margin-top: 80px;
}

body #app main #main .title {
  margin-bottom: 100px;
}

body #app main #main .title h2 {
  text-align: center;
}

body #app main #main .input_wrap {
  width: 430px;
}

body #app main #main .input_wrap #id_input {
  margin-bottom: 30px;
}

body #app main #main .input_wrap .info_input {
  width: 100%;
  border-bottom: 1px solid #999;
}

body #app main #main .input_wrap .info_input input {
  width: 100%;
  font-size: 18px;
  border: none;
  font-weight: bold;
  padding: 10px 0;
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

body #app main #main .input_wrap .info_input input:focus {
  outline: none;
}

body #app main #main .input_wrap .info_input input::-webkit-input-placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}

body #app main #main .input_wrap .info_input input:-ms-input-placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}

body #app main #main .input_wrap .info_input input::-ms-input-placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}

body #app main #main .input_wrap .info_input input::placeholder {
  font-size: 15px;
  color: #c4c4c4;
  font-weight: bolder;
}

body #app main #main .input_etc_wrap {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
}

body #app main #main .input_etc_wrap span,
body #app main #main .input_etc_wrap label {
  font-size: 16px;
  color: #222;
}

body #app main #main .input_etc_wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app main #main .input_etc_wrap input {
  margin-right: 10px;
}

body #app main #main .input_etc_wrap .id_remember {
  width: 100%;
}

body #app main #main .input_etc_wrap .id_remember input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

body #app main #main .input_etc_wrap .find_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

body #app main #main .input_etc_wrap .find_wrap .find_btn:first-child span {
  padding-right: 10px;
  border-right: 1px solid #000;
}

body #app main #main .input_etc_wrap .find_wrap .find_btn:last-child span {
  padding-left: 10px;
}

body #app main #main .login_btn {
  background-color: #000;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin: 30px 0;
}

body #app main #main .login_btn span {
  color: #fff;
  font-size: 18px;
}

body #app main #main .sns_btn_wrap nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #app main #main .sns_btn_wrap nav ul {
  list-style: none;
}

body #app main #main .sns_btn_wrap nav ul li {
  float: left;
}

body #app main #main .sns_btn_wrap nav ul li:not(:last-child) {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */