@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

#app #my_page_header {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 80px;
}
#app #my_page_header #page_location {
  margin-top: 40px;
  margin-bottom: 20px;
}
#app #my_page_header #title {
  font-size: 72px;
  color: #222;
}
#app #my_page_header #title span {
  color: #007dfb;
}
#app #my_page_nav {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#app #my_page_nav ul {
  display: flex;
}
#app #my_page_nav ul .nav_item {
  padding: 12px 0;
  flex: 1;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-collapse: collapse;
}
#app #my_page_nav ul .active {
  background-color: #7E746C;
  color: #fff;
}
#app #my_page_nav ul .nav_item:first-child {
  border-left: 1px solid #ddd;
}
#app #history {
  width: 1000px;
  margin: 0 auto;
}
#app #history #tab {
  display: flex;
  border-collapse: collapse;
  margin-bottom: 50px;
}
#app #history #tab .tab {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
}
#app #history #tab #t_h {
  border-right: none;
}
#app #history #tab .active {
  background-color: #666;
  color: #fff;
}
#app #history #history_chart {
  display: none;
}
#app #history #history_chart .history_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}
#app #history #history_chart .history_wrap .year {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004ea2;
  border-radius: 100px;
}
#app #history #history_chart #img_00 {
  position: absolute;
  top: 275px;
  left: 0;
}
#app #history #history_chart #img_01 {
  position: absolute;
  bottom: 220px;
  right: 0;
}
#app #history #history_chart .text_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#app #history #history_chart .text_wrap .text .title {
  padding-bottom: 8px;
}
#app #history #history_chart .text_wrap .text .desc {
  line-height: 1.6;
}
#app #history #history_chart #t_00 {
  position: absolute;
  top: 275px;
  right: 90px;
}
#app #history #history_chart #t_01 {
  position: absolute;
  top: 630px;
  left: 130px;
  text-align: right;
}
#app #history #history_chart #t_02 {
  position: absolute;
  top: 945px;
  right: 295px;
}
#app #history #history_chart #t_03 {
  position: absolute;
  bottom: 225px;
  text-align: right;
  left: 170px;
}
#app #history #history_chart #t_04 {
  position: absolute;
  bottom: 25px;
  right: 295px;
}
#app #history #org_chart {
  height: 800px;
  position: relative;
}
#app #history #org_chart .org {
  width: 200px;
  height: 60px;
  border: 1px solid #000;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app #history #org_chart .grey {
  background-color: #4e4e4e;
  color: #fff;
}
#app #history #org_chart .black {
  background-color: #000;
}
#app #history #org_chart .w_170 {
  width: 170px;
}
#app #history #org_chart .center {
  justify-content: center;
}
#app #history #org_chart #chairman {
  position: absolute;
  top: 0;
  top: 0%;
  left: 0%;
  transform: translate(200%, 0%);
}
#app #history #org_chart #ceo {
  position: absolute;
  top: 160px;
  left: 0%;
  transform: translate(200%, 0%);
}
#app #history #org_chart #bod {
  position: absolute;
  top: 73px;
  left: 120px;
}
#app #history #org_chart #audit {
  position: absolute;
  top: 73px;
  right: 120px;
}
#app #history #org_chart #audit_office {
  position: absolute;
  top: 238px;
  right: 120px;
}
#app #history #org_chart #safe_depart {
  position: absolute;
  top: 325px;
  right: 120px;
}
#app #history #org_chart #support_hq {
  position: absolute;
  top: 325px;
  left: 205px;
}
#app #history #org_chart #hr {
  position: absolute;
  top: 184px;
  left: 0px;
}
#app #history #org_chart #ga {
  position: absolute;
  top: 255px;
  left: 0px;
}
#app #history #org_chart #finance {
  position: absolute;
  top: 325px;
  left: 0px;
}
#app #history #org_chart #planning_hq {
  position: absolute;
  bottom: 297px;
  left: 0px;
}
#app #history #org_chart #policy {
  position: absolute;
  bottom: 215px;
  left: 0px;
}
#app #history #org_chart #marketing {
  position: absolute;
  bottom: 135px;
  left: 0px;
}
#app #history #org_chart #sales {
  position: absolute;
  bottom: 55px;
  left: 0px;
}
#app #history #org_chart #design_business {
  position: absolute;
  bottom: 297px;
  left: 215px;
}
#app #history #org_chart #reception {
  position: absolute;
  bottom: 215px;
  left: 215px;
}
#app #history #org_chart #design {
  position: absolute;
  bottom: 135px;
  left: 215px;
}
#app #history #org_chart #print_business {
  position: absolute;
  bottom: 297px;
  left: 420px;
}
#app #history #org_chart #output {
  position: absolute;
  bottom: 215px;
  left: 420px;
}
#app #history #org_chart #equip {
  position: absolute;
  bottom: 135px;
  left: 420px;
}
#app #history #org_chart #production_business {
  position: absolute;
  bottom: 297px;
  right: 205px;
}
#app #history #org_chart #production {
  position: absolute;
  bottom: 215px;
  right: 205px;
}
#app #history #org_chart #online_business {
  position: absolute;
  bottom: 297px;
  right: 0px;
}
#app #history #org_chart #web_design {
  position: absolute;
  bottom: 215px;
  right: 0px;
}
#app #history #org_chart #develop {
  position: absolute;
  bottom: 135px;
  right: 0px;
}
#app #history #org_chart .line_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cneter;
}
#app #history #org_chart .line_wrap #l_v_00 {
  position: absolute;
  top: 55px;
}
#app #history #org_chart .line_wrap #l_v_01 {
  position: absolute;
  top: 215px;
}
#app #history #org_chart .line_wrap #l_h_00 {
  position: absolute;
  top: 90px;
}
#app #history #org_chart .line_wrap #l_h_01 {
  position: absolute;
  top: 343px;
  left: 368px;
}
#app #history #org_chart .line_wrap #l_long {
  position: absolute;
  top: 410px;
}
#app #history #org_chart .line_wrap #l_c_01 {
  position: absolute;
  top: 185px;
  right: 315px;
}
#app #history #org_chart .line_wrap #l_c_00 {
  position: absolute;
  top: 216px;
  left: 170px;
}
#app #history #org_chart .line_wrap #l_s_h_00 {
  position: absolute;
  top: 255px;
  right: 315px;
}
#app #history #org_chart .line_wrap #l_h_s_00 {
  position: absolute;
  bottom: 348px;
  left: 80px;
}
#app #history #org_chart .line_wrap #l_h_s_01 {
  position: absolute;
  bottom: 348px;
  left: 290px;
}
#app #history #org_chart .line_wrap #l_h_s_02 {
  position: absolute;
  bottom: 348px;
}
#app #history #org_chart .line_wrap #l_h_s_03 {
  position: absolute;
  bottom: 348px;
  right: 290px;
}
#app #history #org_chart .line_wrap #l_h_s_04 {
  position: absolute;
  bottom: 348px;
  right: 80px;
}
#app #history #org_chart .line_wrap #l_v_s_00 {
  position: absolute;
  bottom: 270px;
  left: 80px;
}
#app #history #org_chart .line_wrap #l_v_s_01 {
  position: absolute;
  bottom: 190px;
  left: 80px;
}
#app #history #org_chart .line_wrap #l_v_s_02 {
  position: absolute;
  bottom: 270px;
  left: 295px;
}
#app #history #org_chart .line_wrap #l_v_s_03 {
  position: absolute;
  bottom: 190px;
  left: 295px;
}
#app #history #org_chart .line_wrap #l_v_s_04 {
  position: absolute;
  bottom: 110px;
  left: 80px;
}
#app #history #org_chart .line_wrap #l_v_s_05 {
  position: absolute;
  bottom: 270px;
}
#app #history #org_chart .line_wrap #l_v_s_06 {
  position: absolute;
  bottom: 190px;
}
#app #history #org_chart .line_wrap #l_v_s_07 {
  position: absolute;
  bottom: 270px;
  right: 290px;
}
#app #history #org_chart .line_wrap #l_v_s_08 {
  display: none;
  position: absolute;
  bottom: 190px;
  right: 290px;
}
#app #history #org_chart .line_wrap #l_v_s_09 {
  position: absolute;
  bottom: 270px;
  right: 80px;
}
#app #history #org_chart .line_wrap #l_v_s_10 {
  position: absolute;
  bottom: 190px;
  right: 80px;
}/*# sourceMappingURL=year_style.css.map */