@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@font-face { font-family: 'Pretendard-Bold'; src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff"); font-weight: 700; font-style: normal; }

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html { font-size: 10px; }

html[lang="ko-KR"], html[lang="ko"] { font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif; }

html[lang="ko-KR"] body, html[lang="ko"] body { font-size: 16px; font-weight: 400; line-height: 1.4; color: #000; }

html[lang="en"], html *[lang="en"] { font-family: "Pretendard-Bold", "Noto Sans KR", Arial, sans-serif, serif; }

html[lang="en"] body, html *[lang="en"] body { font-size: 18px; font-weight: 400; }

* {
    margin: 0;
    padding: 0;
}
//버튼 컬러
$color-btn-blue: #007DFB;
$color-naver: #19CE60;
$color-facebook: #3A5CA9;
$color-kakao: #F7E600;
//input 컬러
$color-input-bg: #f9f9f9;
$color-input-font: #cfcfcf;
$color-header-grey: #e7e7e7;
//그레이헤더
$color-grey-header-font-grey:#717171;
//text 버튼 컬러
$color-text-btn: #878787;

.sign_up_wrap {
    height: 650px;
    position: absolute;
    top: 10%;
    left: 28%;
    .title_wrap{
        .title {
            margin-bottom: 50px;
            p {
                font-size: 50px;
            }
        }
    
        .sub_title {
            p {
                font-size: 20px;
                color: #5D5D5D;
            }
        }
    }

    .twinbell_sign_up_wrap {
        button{
            color: #fff;
            font-size: 20px;
            display: table-cell; 
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            border: 0px solid #fff;
        }
        .sign_up_twinbell {
            width: 440px;
            height: 60px;
            background-color: $color-btn-blue;
            
        }
        .text_btn_wrap{
            font-size: 15px;
            a{
                text-decoration: none;
                color: $color-text-btn;
            }
            span{
                color: $color-text-btn;
            }
        }
    }
    .sns_sign_up{
        button{
            color: #fff;
            font-size: 20px;
            display: table-cell; 
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
            border: 0px solid #fff;
        }
        // button:not(:last-child){
        //     margin-bottom: 30px;
        // }
        .sns_sign_up_wrap{
            display: flex;
            flex-direction: column;
            .sign_up_kakao{
                width: 440px;
                height: 60px;
                background-color: $color-kakao;
                margin-bottom: 20px;
            }
            .sign_up_naver{
                width: 440px;
                height: 60px;
                background-color: $color-naver;
                margin-bottom: 20px;
            }
            .sign_up_facebook{
                width: 440px;
                height: 60px;
                background-color: $color-facebook;
            }
        }
    }
}