.f10R222 {
  font-size: 10px;
  font-weight: 400;
  color: #222;
}

.f10R666 {
  font-size: 10px;
  font-weight: 400;
  color: #666;
}

.f10R888 {
  font-size: 10px;
  font-weight: 400;
  color: #888;
}

.f10RFFF {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.f10R004 {
  font-size: 10px;
  font-weight: 400;
  color: #004ea2;
}

.f10RFF0 {
  font-size: 10px;
  font-weight: 400;
  color: #ff0000;
}

.f10R007 {
  font-size: 10px;
  font-weight: 400;
  color: #007dfb;
}

.f10S222 {
  font-size: 10px;
  font-weight: 600;
  color: #222;
}

.f10S666 {
  font-size: 10px;
  font-weight: 600;
  color: #666;
}

.f10S888 {
  font-size: 10px;
  font-weight: 600;
  color: #888;
}

.f10SFFF {
  font-size: 10px;
  font-weight: 600;
  color: #fff;
}

.f10S004 {
  font-size: 10px;
  font-weight: 600;
  color: #004ea2;
}

.f10SFF0 {
  font-size: 10px;
  font-weight: 600;
  color: #ff0000;
}

.f10S007 {
  font-size: 10px;
  font-weight: 600;
  color: #007dfb;
}

.f10B222 {
  font-size: 10px;
  font-weight: bold;
  color: #222;
}

.f10B666 {
  font-size: 10px;
  font-weight: bold;
  color: #666;
}

.f10B888 {
  font-size: 10px;
  font-weight: bold;
  color: #888;
}

.f10BFFF {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
}

.f10B004 {
  font-size: 10px;
  font-weight: bold;
  color: #004ea2;
}

.f10BFF0 {
  font-size: 10px;
  font-weight: bold;
  color: #ff0000;
}

.f10B007 {
  font-size: 10px;
  font-weight: bold;
  color: #007dfb;
}

.f12R222 {
  font-size: 12px;
  font-weight: 400;
  color: #222;
}

.f12R666 {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}

.f12R888 {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.f12RFFF {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.f12R004 {
  font-size: 12px;
  font-weight: 400;
  color: #004ea2;
}

.f12RFF0 {
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
}

.f12R007 {
  font-size: 12px;
  font-weight: 400;
  color: #007dfb;
}

.f12S222 {
  font-size: 12px;
  font-weight: 600;
  color: #222;
}

.f12S666 {
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.f12S888 {
  font-size: 12px;
  font-weight: 600;
  color: #888;
}

.f12SFFF {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.f12S004 {
  font-size: 12px;
  font-weight: 600;
  color: #004ea2;
}

.f12SFF0 {
  font-size: 12px;
  font-weight: 600;
  color: #ff0000;
}

.f12S007 {
  font-size: 12px;
  font-weight: 600;
  color: #007dfb;
}

.f12B222 {
  font-size: 12px;
  font-weight: bold;
  color: #222;
}

.f12B666 {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.f12B888 {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.f12BFFF {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.f12B004 {
  font-size: 12px;
  font-weight: bold;
  color: #004ea2;
}

.f12BFF0 {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}

.f12B007 {
  font-size: 12px;
  font-weight: bold;
  color: #007dfb;
}

.f14R222 {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.f14R666 {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.f14R888 {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.f14RFFF {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.f14R004 {
  font-size: 14px;
  font-weight: 400;
  color: #004ea2;
}

.f14RFF0 {
  font-size: 14px;
  font-weight: 400;
  color: #ff0000;
}

.f14R007 {
  font-size: 14px;
  font-weight: 400;
  color: #007dfb;
}

.f14S222 {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.f14S666 {
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.f14S888 {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.f14SFFF {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.f14S004 {
  font-size: 14px;
  font-weight: 600;
  color: #004ea2;
}

.f14SFF0 {
  font-size: 14px;
  font-weight: 600;
  color: #ff0000;
}

.f14S007 {
  font-size: 14px;
  font-weight: 600;
  color: #007dfb;
}

.f14B222 {
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

.f14B666 {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.f14B888 {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.f14BFFF {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.f14B004 {
  font-size: 14px;
  font-weight: bold;
  color: #004ea2;
}

.f14BFF0 {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
}

.f14B007 {
  font-size: 14px;
  font-weight: bold;
  color: #007dfb;
}

.f15R222 {
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

.f15R666 {
  font-size: 15px;
  font-weight: 400;
  color: #666;
}

.f15R888 {
  font-size: 15px;
  font-weight: 400;
  color: #888;
}

.f15RFFF {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.f15R004 {
  font-size: 15px;
  font-weight: 400;
  color: #004ea2;
}

.f15RFF0 {
  font-size: 15px;
  font-weight: 400;
  color: #ff0000;
}

.f15R007 {
  font-size: 15px;
  font-weight: 400;
  color: #007dfb;
}

.f15S222 {
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.f15S666 {
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

.f15S888 {
  font-size: 15px;
  font-weight: 600;
  color: #888;
}

.f15SFFF {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.f15S004 {
  font-size: 15px;
  font-weight: 600;
  color: #004ea2;
}

.f15SFF0 {
  font-size: 15px;
  font-weight: 600;
  color: #ff0000;
}

.f15S007 {
  font-size: 15px;
  font-weight: 600;
  color: #007dfb;
}

.f15B222 {
  font-size: 15px;
  font-weight: bold;
  color: #222;
}

.f15B666 {
  font-size: 15px;
  font-weight: bold;
  color: #666;
}

.f15B888 {
  font-size: 15px;
  font-weight: bold;
  color: #888;
}

.f15BFFF {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.f15B004 {
  font-size: 15px;
  font-weight: bold;
  color: #004ea2;
}

.f15BFF0 {
  font-size: 15px;
  font-weight: bold;
  color: #ff0000;
}

.f15B007 {
  font-size: 15px;
  font-weight: bold;
  color: #007dfb;
}

.f18R222 {
  font-size: 18px;
  font-weight: 400;
  color: #222;
}

.f18R666 {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

.f18R888 {
  font-size: 18px;
  font-weight: 400;
  color: #888;
}

.f18RFFF {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.f18R004 {
  font-size: 18px;
  font-weight: 400;
  color: #004ea2;
}

.f18RFF0 {
  font-size: 18px;
  font-weight: 400;
  color: #ff0000;
}

.f18R007 {
  font-size: 18px;
  font-weight: 400;
  color: #007dfb;
}

.f18S222 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.f18S666 {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

.f18S888 {
  font-size: 18px;
  font-weight: 600;
  color: #888;
}

.f18SFFF {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.f18S004 {
  font-size: 18px;
  font-weight: 600;
  color: #004ea2;
}

.f18SFF0 {
  font-size: 18px;
  font-weight: 600;
  color: #ff0000;
}

.f18S007 {
  font-size: 18px;
  font-weight: 600;
  color: #007dfb;
}

.f18B222 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.f18B666 {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.f18B888 {
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

.f18BFFF {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.f18B004 {
  font-size: 18px;
  font-weight: bold;
  color: #004ea2;
}

.f18BFF0 {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
}

.f18B007 {
  font-size: 18px;
  font-weight: bold;
  color: #007dfb;
}

.f21R222 {
  font-size: 21px;
  font-weight: 400;
  color: #222;
}

.f21R666 {
  font-size: 21px;
  font-weight: 400;
  color: #666;
}

.f21R888 {
  font-size: 21px;
  font-weight: 400;
  color: #888;
}

.f21RFFF {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

.f21R004 {
  font-size: 21px;
  font-weight: 400;
  color: #004ea2;
}

.f21RFF0 {
  font-size: 21px;
  font-weight: 400;
  color: #ff0000;
}

.f21R007 {
  font-size: 21px;
  font-weight: 400;
  color: #007dfb;
}

.f21S222 {
  font-size: 21px;
  font-weight: 600;
  color: #222;
}

.f21S666 {
  font-size: 21px;
  font-weight: 600;
  color: #666;
}

.f21S888 {
  font-size: 21px;
  font-weight: 600;
  color: #888;
}

.f21SFFF {
  font-size: 21px;
  font-weight: 600;
  color: #fff;
}

.f21S004 {
  font-size: 21px;
  font-weight: 600;
  color: #004ea2;
}

.f21SFF0 {
  font-size: 21px;
  font-weight: 600;
  color: #ff0000;
}

.f21S007 {
  font-size: 21px;
  font-weight: 600;
  color: #007dfb;
}

.f21B222 {
  font-size: 21px;
  font-weight: bold;
  color: #222;
}

.f21B666 {
  font-size: 21px;
  font-weight: bold;
  color: #666;
}

.f21B888 {
  font-size: 21px;
  font-weight: bold;
  color: #888;
}

.f21BFFF {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.f21B004 {
  font-size: 21px;
  font-weight: bold;
  color: #004ea2;
}

.f21BFF0 {
  font-size: 21px;
  font-weight: bold;
  color: #ff0000;
}

.f21B007 {
  font-size: 21px;
  font-weight: bold;
  color: #007dfb;
}

.f24B222 {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.f24B666 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
}

.f24B888 {
  font-size: 24px;
  font-weight: bold;
  color: #888;
}

.f24BFFF {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.f24B004 {
  font-size: 24px;
  font-weight: bold;
  color: #004ea2;
}

.f24BFF0 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

.f24B007 {
  font-size: 24px;
  font-weight: bold;
  color: #007dfb;
}

.f25B222 {
  font-size: 25px;
  font-weight: bold;
  color: #222;
}

.f25B666 {
  font-size: 25px;
  font-weight: bold;
  color: #666;
}

.f25B888 {
  font-size: 25px;
  font-weight: bold;
  color: #888;
}

.f25BFFF {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.f25B004 {
  font-size: 25px;
  font-weight: bold;
  color: #004ea2;
}

.f25BFF0 {
  font-size: 25px;
  font-weight: bold;
  color: #ff0000;
}

.f25B007 {
  font-size: 25px;
  font-weight: bold;
  color: #007dfb;
}

.f28B222 {
  font-size: 28px;
  font-weight: bold;
  color: #222;
}

.f28B666 {
  font-size: 28px;
  font-weight: bold;
  color: #666;
}

.f28B888 {
  font-size: 28px;
  font-weight: bold;
  color: #888;
}

.f28BFFF {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.f28B004 {
  font-size: 28px;
  font-weight: bold;
  color: #004ea2;
}

.f28BFF0 {
  font-size: 28px;
  font-weight: bold;
  color: #ff0000;
}

.f28B007 {
  font-size: 28px;
  font-weight: bold;
  color: #007dfb;
}

.f34S222 {
  font-size: 34px;
  font-weight: 600;
  color: #222;
}

.f34S666 {
  font-size: 34px;
  font-weight: 600;
  color: #666;
}

.f34S888 {
  font-size: 34px;
  font-weight: 600;
  color: #888;
}

.f34SFFF {
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}

.f34S004 {
  font-size: 34px;
  font-weight: 600;
  color: #004ea2;
}

.f34SFF0 {
  font-size: 34px;
  font-weight: 600;
  color: #ff0000;
}

.f34S007 {
  font-size: 34px;
  font-weight: 600;
  color: #007dfb;
}

.f34S003 {
  font-size: 34px;
  font-weight: 600;
  color: #003B70;
}

.f50S222 {
  font-size: 50px;
  font-weight: 600;
  color: #222;
}

.f50S666 {
  font-size: 50px;
  font-weight: 600;
  color: #666;
}

.f50S888 {
  font-size: 50px;
  font-weight: 600;
  color: #888;
}

.f50SFFF {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

.f50S004 {
  font-size: 50px;
  font-weight: 600;
  color: #004ea2;
}

.f50SFF0 {
  font-size: 50px;
  font-weight: 600;
  color: #ff0000;
}

.f50S007 {
  font-size: 50px;
  font-weight: 600;
  color: #007dfb;
}

.f50B222 {
  font-size: 50px;
  font-weight: bold;
  color: #222;
}

.f50B666 {
  font-size: 50px;
  font-weight: bold;
  color: #666;
}

.f50B888 {
  font-size: 50px;
  font-weight: bold;
  color: #888;
}

.f50BFFF {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.f50B004 {
  font-size: 50px;
  font-weight: bold;
  color: #004ea2;
}

.f50BFF0 {
  font-size: 50px;
  font-weight: bold;
  color: #ff0000;
}

.f50B007 {
  font-size: 50px;
  font-weight: bold;
  color: #007dfb;
}

.f72S222 {
  font-size: 72px;
  font-weight: 600;
  color: #222;
}

.f72S666 {
  font-size: 72px;
  font-weight: 600;
  color: #666;
}

.f72S888 {
  font-size: 72px;
  font-weight: 600;
  color: #888;
}

.f72SFFF {
  font-size: 72px;
  font-weight: 600;
  color: #fff;
}

.f72S004 {
  font-size: 72px;
  font-weight: 600;
  color: #004ea2;
}

.f72SFF0 {
  font-size: 72px;
  font-weight: 600;
  color: #ff0000;
}

.f72S007 {
  font-size: 72px;
  font-weight: 600;
  color: #007dfb;
}/*# sourceMappingURL=fonts.css.map */