@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
html {
  font-size: 10px;
}

html[lang=ko-KR],
html[lang=ko] {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

html[lang=ko-KR] body,
html[lang=ko] body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

html[lang=en],
html *[lang=en] {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

html[lang=en] body,
html *[lang=en] body {
  font-size: 18px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  box-sizing: border-box;
}
#app .section_wrap {
  padding-top: 35px;
  padding-right: 180px;
}
#app .section_wrap #header {
  display: block;
  margin: 0;
  margin-bottom: 40px;
}
#app .section_wrap #header .wrapper {
  display: flex;
}
#app .section_wrap #header .wrapper .card_wrap {
  width: 100%;
  display: flex;
  gap: 15px;
}
#app .section_wrap #header .wrapper .card_wrap .card {
  width: 370px;
  height: 195px;
  color: #fff;
  padding: 12px 17px 17px 22px;
}
#app .section_wrap #header .wrapper .card_wrap .card .title {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 10px;
}
#app .section_wrap #header .wrapper .card_wrap .card .number {
  display: flex;
  justify-content: end;
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 10px;
}
#app .section_wrap #header .wrapper .card_wrap .card .desc_wrap {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
}
#app .section_wrap #header .wrapper .card_wrap .card .desc_wrap .date_wrap {
  display: flex;
  gap: 20px;
}
#app .section_wrap #header .wrapper .card_wrap .card .desc_wrap .date_wrap .date_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#app .section_wrap #header .wrapper .card_wrap .card .desc_wrap .date_wrap .date_number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#app .section_wrap #header .wrapper .card_wrap #revenue {
  background-color: #5388FA;
}
#app .section_wrap #header .wrapper .card_wrap #charge {
  background-color: #01cba5;
}
#app .section_wrap #header .wrapper .card_wrap #accident {
  background-color: #00c0f0;
}
#app .section_wrap #header .wrapper .card_wrap #user {
  background-color: #a674ed;
}
#app .section_wrap #header .wrapper .date_pick_wrap {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 77px;
}
#app .section_wrap #header .wrapper .date_pick_wrap .date_pick {
  height: 66px;
  color: #b6b6b6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 0px 15.5px;
}
#app .section_wrap #header .wrapper .date_pick_wrap .date_pick:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
#app .section_wrap #title {
  font-size: 70px;
  font-weight: 400;
  color: #222;
  margin-bottom: 40px;
}
#app .section_wrap .chart .chart_container {
  display: flex;
  justify-content: space-between;
}
#app .section_wrap .chart .chart_container .chart_wrap .tab_container .tab_wrap {
  display: flex;
}
#app .section_wrap .chart .chart_container .chart_wrap .tab_container .tab_wrap .tab:first-child {
  border-left: 1px solid #ddd;
}
#app .section_wrap .chart .chart_container .chart_wrap .tab_container .tab_wrap .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 110px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
}
#app .section_wrap .chart .chart_container .chart_wrap .tab_container .tab_wrap .active {
  background-color: #ffaa00;
  color: #fff;
}
#app .section_wrap .chart .chart_container .chart_wrap #chart_00 {
  width: 890px;
  height: 350px;
  margin-bottom: 30px;
}
#app .section_wrap .chart .chart_container .chart_wrap #chart_01,
#app .section_wrap .chart .chart_container .chart_wrap #chart_02,
#app .section_wrap .chart .chart_container .chart_wrap #chart_03,
#app .section_wrap .chart .chart_container .chart_wrap #chart_04 {
  margin-bottom: 30px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_00 {
  width: 921px;
}
#app .section_wrap .chart .chart_container .chart_wrap table {
  border-collapse: collapse;
}
#app .section_wrap .chart .chart_container .chart_wrap table thead th:first-child {
  width: 80px;
}
#app .section_wrap .chart .chart_container .chart_wrap table thead th {
  width: 70px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app .section_wrap .chart .chart_container .chart_wrap table tbody tr td {
  font-size: 14px;
  text-align: center;
  border: 1px solid #ddd;
  height: 35px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_04 table thead th:first-child {
  width: 80px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_04 table thead th {
  width: 47px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_04 table tbody tr td {
  width: 47px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_05 table thead th:first-child, #app .section_wrap .chart .chart_container .chart_wrap #table_08 table thead th:first-child {
  width: 80px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_05 table thead th, #app .section_wrap .chart .chart_container .chart_wrap #table_08 table thead th {
  width: 100px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_05 table tbody tr td, #app .section_wrap .chart .chart_container .chart_wrap #table_08 table tbody tr td {
  width: 47px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_06 table thead th:first-child {
  width: 80px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_06 table thead th {
  width: 100px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_06 table tbody tr td {
  width: 47px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_07 table thead th:first-child {
  width: 80px;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_07 table thead th {
  width: 300px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
#app .section_wrap .chart .chart_container .chart_wrap #table_07 table tbody tr td {
  width: 47px;
}
#app .section_wrap .chart .title {
  font-size: 30px;
  font-weight: 400;
}
#app .section_wrap .chart .unit {
  font-size: 12px;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
#app .section_wrap #c_2 .chart_container .chart_wrap, #app .section_wrap #c_5 .chart_container .chart_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#app .section_wrap #c_4 .chart_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#app .section_wrap section {
  padding: 0 70px;
}/*# sourceMappingURL=main_style.css.map */